body {
  background-color: transparent;
  font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  color: #212529;
}

#res_script {
  background-color: transparent;
}

#res_script .NoticeRes {
  padding: 0;
  line-height: 1.3;
}

#res_script .ChampRes {
  display: none;
}

#res_script .ValeurRes {
  font-size: 1rem;
  margin: .25rem 0;
  display: inline;
}

#res_script .Titre {
  font-weight: 400;
}

#res_script .Rubrique:not(:first-child) {
  border-top: 1px solid #000;
  margin-top: 60px;
}

#res_script .Rubrique {
  padding-top: 10px;
  padding-left: 15px;
  margin-top: 30px;
  margin-bottom: 25px;
  font-family: Raleway,sans-serif;
  font-size: 23px;
  font-weight: 900;
  color: #f43232;
}

#res_script a {
  color: #f43232;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: color .2s,border-color .1s;
}

#res_script a:hover, #res_script a:focus {
  color: #db2d2c;
  border-bottom-color: #db2d2c;
}

#res_script a img {
  border: none;
}

#res_script .Auteurs,
#res_script .article {
  /* font-size: .9rem; */
}

#res_script .Auteurs {
  /*margin-top: .4rem;
  padding: .2rem 0 .2rem .8rem;
  border-left: 2px solid #ddd;
  margin: 0 0 0 .25rem;*/
}

#res_script .Auteurs::after {
  content: ", "
}

#res_script .Titre::after {
  content: ", "
}

#res_script .article {
  /*margin-bottom: .4rem;*/
}

#res_script .Type_de_document {
  display: inline-block;
  vertical-align: middle;
  margin-left: .2rem;
  padding: 2px 4px;
  font-size: .7rem;
  background-color: transparent;
  color: #06A;
  border: 1px solid #06A;
  border-radius: 4px;
}

#res_script .LienBibtex,
#res_script .Fichier_joint {
  display: inline-block;
  vertical-align: middle;
  margin-left: .5em;
}

#res_script .LienBibtexACoteFulltext {
  display: none;
  margin-left: .5em;
}

#res_script .LienBibtex img[title='BibTex'] {
  display: none;
}
/*# sourceMappingURL=haltools.css.map */