// Override variables
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1280px
);
$container-max-widths: (
  sm: 768px,
  md: 992px,
  lg: 1280px,
  xl: 1600px
);
$white: #fafafa;
$red: #f43232;
$black: #000;
$navbar-dark-color: $white;
$navbar-dark-hover-color: $white;
$navbar-dark-active-color: $white;
$navbar-dark-toggler-border-color: $white;
$line-height-base: 1.4;
$line-height-lg: 1.4;
$line-height-sm: 1.4;
// Breadcrumbs
$breadcrumb-padding-y: 1rem;
$breadcrumb-padding-x: 0;
$breadcrumb-item-padding: .5rem;
$breadcrumb-margin-bottom: .2rem;
$breadcrumb-bg: $white;
$breadcrumb-divider-color: $black;
$breadcrumb-active-color: $red;
$breadcrumb-divider: "";

// Menu
$dropdown-border-radius: 0;
$dropdown-border-width: 0;

// Include all of Bootstrap
@import "scss/fonts.scss";
@import "bootstrap-4.6.1/scss/bootstrap";
@import "bootstrap-icons-1.8.0/bootstrap-icons.scss";
@import "scss/navbars.scss";
@import "scss/sommaire.scss";
@import "scss/membres.scss";

.spip-admin-float {
  left: 10%;
}

body {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* CUSTOM STYLES */


/* Bandeau de page */

.bandeau {
  width: 100%;
  height: 210px;
  background-image: url("../img/bandeaux/defaut.jpg");
  background-size: cover;

  @include media-breakpoint-down(lg) {
    height: 180px;
  }

  @include media-breakpoint-down(md) {
    height: 150px;
  }

  @include media-breakpoint-down(sm) {
    background-position: 45% 0;
  }

  @include media-breakpoint-down(xs) {
    height: 110px;
  }
}

.sommaire {
  .bandeau {
    width: 100%;
    height: 430px;
    background-image: url("../img/bandeaux/sommaire.jpg");
    background-size: cover;

    @include media-breakpoint-down(lg) {
      height: 350px;
    }

    @include media-breakpoint-down(md) {
      height: 300px;
    }

    @include media-breakpoint-down(sm) {
      background-position: 45% 0;
    }

    @include media-breakpoint-down(xs) {
      height: 150px;
    }
  }
}

.breadcrumb {
  font-family: "Roboto Condensed", Roboto, sans-serif;
  font-size: 12px;
  font-style: italic;

  a,
  a:link,
  a:visited,
  a:hover {
    color: $black;
  }

  i {
    padding: 0 .5em;
  }

  .active {
    color: $red;
    text-decoration: underline;
  }

  @include media-breakpoint-down(xs) {
    display: none;
  }
}


/* CLASSES UTILITAIRES */

h2 {
  padding-bottom: 6px;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  clear: both;
  font-family: Raleway, sans-serif;
  font-size: 36px;
  font-weight: 900;
  color: $black;
  border-bottom: 1px solid $black;

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }
}

h2.spip,
h3 {
  padding-bottom: 3px;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  clear: both;
  font-family: Raleway, sans-serif;
  font-size: 28px;
  font-weight: 900;
  color: $black;
  border-bottom: 1px solid $black;

  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }
}

h4 {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  clear: both;
  font-size: 20px;
  font-weight: 700;
}

.page .soustitre {
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 26px;
  font-weight: 400;
  border: none;

  @include media-breakpoint-down(sm) {
    padding-left: 0;
    margin-bottom: 1.5rem;
    font-size: 20px;
  }
}

.page {
  ul {
    padding-left: 2em;
    margin-left: 0;
    overflow: hidden;
    text-indent: -1.2em;
    list-style-type: none;

    >li::before {
      content: "— ";
    }

    li {
      margin-bottom: .3em;
    }
  }

  .nav,
  .list-annuaire,
  .liste-rub,
  .contacts {
    padding-left: 0;
    overflow: visible;
    text-indent: 0;

    li {
      margin-bottom: 0;
    }

    li::before {
      content: none;
    }
  }

  .liste-hal {
    padding-left: 0;
    overflow: auto;
    text-indent: 0;

    li {
      margin-bottom: .9em;
    }

    li::before {
      content: none;
    }
  }
}

.more,
.more a,
.more button {
  padding: 0;
  font-weight: 700;
  color: $red;
  text-transform: uppercase;
  border-bottom: 1px solid transparent;
  transition: border-color .1s;
}

.more a:hover,
.more a:focus,
.more button:hover,
.more button:focus {
  text-decoration: none;
  border-bottom: 1px solid $red;
}

h5 a,
h5 a:hover {
  color: inherit;
}


.page a,
.page a:link,
.page a:visited {
  color: $red;
  border-bottom: 1px solid transparent;
  transition: color .2s, border-color .1s;
}

.page a:hover,
.page a:focus {
  color: #db2d2c;
  text-decoration: none;
  border-bottom-color: #db2d2c;
}

/* .col > div {
  clear: both;
} */


/* LOGOS */
.page {
  .spip_logo {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

/* REDBLOCK */

.redblock {
  padding: .8em 1em;
  margin-top: 3em;
  color: $white;
  background-color: $red;

  h3 {
    margin: 0 0 1em 0;
    font-size: 20px;
    color: $white;
    border: none;
  }

  ul {
    padding-left: 1em;
    font-size: 14px;
    list-style-type: none;

    li {
      margin-bottom: .8em;
      margin-left: 0;
      text-indent: 0;
    }

    li::before {
      content: none;
    }

    i {
      width: 1em;
      margin-right: .3em;
      margin-left: -1.3em;
    }
  }

  a,
  a:link,
  a:visited,
  a:hover {
    color: $white;
  }

  a:hover {
    border-bottom-color: $white;
  }

  .active {
    font-weight: 900;
  }
}

/* LISTES FILTRÉES */

.list-nothing {
  display: none;
}

/* LISTES RUBRIQUES */

.page {
  .liste-rub {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-top: 3.5em;
    list-style-type: none;

    li {
      display: flex;
      flex-direction: column;
      max-width: 250px;
      margin-right: 30px;
      margin-bottom: 30px;

      img {
        margin-bottom: 15px;
        border-bottom: 0;
      }

      >a {
        border-bottom: 0;
      }

      h5 {
        font-family: Raleway, sans-serif;
        font-size: 20px;
        font-weight: 700;
      }

      a {
        color: $black;
      }

      a:hover {
        border-bottom-color: $black;
      }
    }
  }
}

/* LIENS MEMBRES ÉQUIPES */

.membres-equipe {
  padding: 7px 20px;
  margin-top: .5em;
  margin-bottom: 2.5em;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f0f0f0;

  p {
    margin: 5px 0 5px 0;
  }

  .fas {
    padding-right: 5px;
  }
}

/* LIENS MEMBRES GROUPES PAGE ACCOMPAGNEMENT */

.membres-groupe {
  padding: .5em 1.5em .5em 2.7em;
  margin-top: 1.5em;
  margin-bottom: 4.5em;
  clear: both;
  font-family: "Roboto Condensed", sans-serif;
  text-indent: -.9em;
  background-color: #f0f0f0;

  .fas {
    padding-right: 5px;
  }
}


/* TABLEAUX */

.page {
  table {
    border-spacing: 0 1em;
    border-collapse: separate;
  }

  tr {
    background-color: #f0f0f0;

    td,
    th {
      padding: 5px 15px 5px 15px;
    }

    th {
      background-color: #d9d9d9;
    }
  }
}

/* IMAGES ET DOCUMENTS */


.spip_documents {
  img {
    margin-bottom: .5em;
    transition: border-color .1s;
  }

  img,
  figure {
    display: block;
  }

  a:hover,
  a:focus {
    border-bottom: transparent;
  }

  a {

    img:hover,
    img:focus {
      border: 1px solid $red;
    }

    color: $black;
  }

  figcaption {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.2;

    a:hover,
    a:focus {
      border-bottom: 1px solid $black;
    }
  }
}


.spip_documents_center {
  margin: 2.2em auto;

  img,
  figure {
    margin: 0 auto .5em auto;
  }

  figcaption {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
}

.spip_documents_left {
  float: left;
  margin: 0 1em 5px 0;

  figcaption {
    max-width: 200px;
  }
}

.spip_documents_right {
  float: right;
  margin: 0 0 5px 1em;

  figcaption {
    max-width: 200px;
  }

}


/* NOTES */

.notes {
  padding-left: 1rem;
  font-size: 12px;
  border-left: 4px solid #ddd;

  h3 {
    margin-bottom: .8rem;
    font-size: 18px;
    font-weight: 400;
    border-bottom: none;
  }
}


/* EVENEMENTS */

.evenements {
  table {
    width: 100%;
  }

  .td-logo {
    width: 110px;
    text-align: center;
  }

  .spip_logo {
    float: none;
    margin: 0;
  }
}

.page {

  .evenement-actu,
  .equipes-actu {
    padding: 10px 20px;
    margin-bottom: 2.5em;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #f0f0f0;

    p {
      margin: 0;
    }

    table {
      border-spacing: 0;

      td {
        padding: 2px 5px;
      }

      i {
        margin-right: .7em;
      }
    }

    h5 {
      margin: 10px 0 10px 0;
      font-size: 1.1rem;
      font-weight: 700;
    }
  }

  .equipes-actu {
    margin-top: 2.5rem;
  }
}

.infos-actu {
  margin-top: 3rem;
  font-size: .9rem;
  font-style: italic;
}

.evenement-actu+.texte,
.equipes-actu+.texte {
  clear: both;
}


/* PUBLICATIONS */

.publications {
  .publications-liste {
    margin: 2em 2em;

    .vignette {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 300px;
      margin-bottom: 2rem;

      a {
        border-bottom: none;
        outline: 0;
      }

      a:hover,
      a:focus {
        border-bottom: none;
      }

      img {
        display: block;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 300px;
        border: 1px solid #ddd;
      }
    }

    h5 {
      margin-bottom: .1rem;
      font-size: 18px;
      font-weight: 600;

      a,
      a:link,
      a:hover,
      a:visited {
        color: $black;
      }

      a:hover,
      a:focus {
        border-bottom: 1px solid $black;
      }
    }
  }

  .auteur {
    margin-bottom: .1rem;
    font-style: italic;
  }

  p {
    margin-top: .8rem;
  }

  .more a {
    font-size: 14px;
    color: $red;
  }

  .all {
    width: 100%;
    padding: 10px 1rem;
    margin-top: 1.5rem;
    font-size: 20px;
    text-align: center;
    background-color: $black;

    a {
      font-weight: 400;
      color: $white;
      text-transform: uppercase;
    }

    a:focus,
    a:hover {
      border-bottom: 1px solid $white;
    }
  }

  table {
    width: 100%;
  }

  .td-logo {
    width: 180px;
    text-align: center;

    img {
      float: none;
      margin: 1em;
    }

    a,
    a:link,
    a:hover,
    a:active,
    a:focus {
      border-bottom: none;
    }
  }
}

.publi-biblio {
  margin: 1em 0;
  font-family: "Roboto Condensed", sans-serif;
}

.publi-couv {
  img {
    width: auto;
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
  }
}

/* TABS */

.page {

  .nav-tabs {
    display: flex;
    align-items: stretch;
    margin: 2em 0;

    .nav-item {
      align-self: stretch;
      margin-bottom: -1px;
    }

    .nav-link {
      height: 100%;
      margin-right: 4px;
      margin-left: 2px;
      color: $white;
      background-color: $black;
      border-color: $black;
      border-radius: 0;
      outline: 0;
    }

    .nav-link.active,
    .nav-link:hover,
    .nav-link:focus {
      color: $black;
      background-color: $white;
    }

    @include media-breakpoint-down(md) {
      border-bottom: none;

      .nav-item {
        margin-bottom: 5px;
      }
    }

    @include media-breakpoint-up(lg) {
      flex-wrap: nowrap;
      border-bottom: 1px solid $black;

      .nav-link.active,
      .nav-link:hover,
      .nav-link:focus {
        border-bottom: none;
      }
    }

  }
}


/* PILLS */

.page {
  .nav-pills {
    .nav-link {
      padding: 6px 12px;
      margin-right: .5em;
      font-size: 12px;
      color: $black;
      border-bottom: none;
      transition: none;
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link.active {
      color: $white;
      background-color: $red;
      border-radius: 8px;
    }

    @include media-breakpoint-down(md) {
      .nav-link {
        margin-bottom: 5px;
      }
    }
  }
}


/* DIRECTION */

.direction {
  .diradj {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: 5px;
    margin-bottom: 1em;
  }

  img {
    margin-bottom: 5px;
  }

  .more {
    margin-top: 4px;
    font-size: 13px;
  }
}

/* INFOS PRATIQUES ET MAPS */

.footer,
.page {
  .leaflet-map {
    a {
      color: $gray-600;
      text-decoration: none;
    }

    a:focus,
    a:hover {
      border-bottom-color: transparent;
    }

    .leaflet-control-attribution {
      color: $gray-500;
    }
  }
}

.sites {
  h4 {
    margin-bottom: .5em;
  }

  @include media-breakpoint-down(md) {
    h4 {
      min-height: 0;
    }
  }
}

/* PAGES SÉMINAIRES */

.page {
  .actu-seminaire {
    font-size: 14px;

    @include media-breakpoint-down(lg) {
      margin: 15px 0;
    }

    h5 {
      font-size: 16px;
      font-weight: 700;
      line-height: 1.2;
    }

    h5 a {
      color: $black;
    }

    h5 a:hover,
    h5 a:focus {
      border-bottom-color: $black;
    }

    .spip_logo {
      margin-top: 5px;
    }

    .date {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 11px;
      font-style: italic;

      span {
        padding-right: 2px;
      }
    }
  }

  .archive-seminaire {
    margin-bottom: 20px;

    h5 {
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.3;
    }

    h5 a {
      color: $black;
    }

    h5 a:hover,
    h5 a:focus {
      border-bottom-color: $black;
    }

    .date {
      margin: 0 0 0 4px;
      margin-bottom: 8px;
      font-size: 11px;

      span {
        padding-right: 2px;
      }
    }
  }

  .pagination-links {
    width: 100%;
    padding: 4px 8px;
    margin-top: 30px;
    background-color: #f0f0f0;

  }
}

/* PAGINATION */

.pagination {

  display: block;
  padding: .1rem .5rem;
  border-radius: 0;

  .pagination-items {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 0;
    text-indent: 0;

    .pagination-item {
      display: flex;
      align-items: center;
      margin: 0;
    }

    .pagination-item::before {
      content: "";
    }

    .pagination_precedent_suivant .pagination-item {
      flex-basis: auto;
    }

    .pagination-item+.pagination-item {
      padding-left: .5rem;
      margin-left: .5rem;
      border-left: 1px solid #000;
    }

    .on .pagination-item-label {
      font-weight: 700;
    }

    .pagination_precedent_suivant .disabled {
      visibility: hidden;
    }

  }

  .pagination-item.disabled .pagination-item-label {
    font-weight: 300;
    color: #888;
  }

}

/* RECHERCHE */

.resultat-recherche {
  table {
    width: 100%;

    tbody {
      tr {
        height: 55px;
      }
    }

    .td-logo {
      width: 100px;
      text-align: center;
      vertical-align: middle;

      img {
        float: none;
        margin: 0;
      }
    }
  }
}

/* FOOTER */

.footer {
  margin-top: 6em;

  .plans {
    padding: 2em 0 1em 0;
    color: $white;
    background-color: $black;

    h4 {
      height: 3em;
      margin-top: 0;
      margin-bottom: 10px;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.3;
    }

    p {
      font-size: 13px;
      line-height: 1.2;
    }

    .location {
      font-size: 14px;
      color: $red;

      span {
        margin-right: .2rem;
      }

      a {
        color: $red;
        text-decoration: none;
        border-bottom: 1px solid transparent;
        transition: border-color .1s;
      }

      a:focus,
      a:hover {
        border-bottom: 1px solid $red;
      }
    }

    .leaflet-map {
      bottom: 0;
      height: 300px;
      margin: 0 0 2em 0;
    }

    @include media-breakpoint-down(sm) {
      .leaflet-map {
        height: 180px;
      }
    }
  }

  .tutelles {
    min-height: 8em;
    padding-top: 1em;
    background-color: $white;

    img {
      padding-bottom: 1em;
    }
  }

  .liens {
    padding: 2em 0 6em 0;
    font-size: 14px;
    color: $gray-600;
    background-color: $white;

    a {
      margin: 1em;
      color: $gray-600;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      transition: border-color .1s;
    }

    a:focus,
    a:hover {
      border-bottom: 1px solid $gray-600;
    }

  }
}

/* TOTOP */

.toTop {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 10000;
  display: none;
  text-align: center;
  opacity: 0;

  a {
    width: 100%;
    height: 100%;
    padding: 8px 15px 12px 15px;
    font-size: 35px;
    color: $white;
    background-color: $red;
    outline: 0;
  }

  @include media-breakpoint-down(sm) {
    right: 15px;
    bottom: 15px;
  }
}

.toTop.visible {
  display: block;
  opacity: .7;
}

.toTop.visible:hover {
  opacity: 1;
}

/* BUTTONS ET FORMS */

.btn-light:hover {
  background: none;
}

a.btn-dark {
  color: #fff;
}

.btn-primary {
  background-color: $red;
  border-color: $red;
}

.btn-primary:hover {
  background-color: #c40202;
  border-color: #c40202;
}

blockquote {
  margin-left: 10px;
  font-style: italic;
}

.form-search .search {
  width: 15em;
}