/* ANNUAIRE */

.tabs-annuaire {
  font-size: 12px;
}

.tabs-annuaire .nav-link span {
  font-weight: 900;
  color: $red;
}

.list-annuaire {
  
  margin-top: 3em;
  
  @include media-breakpoint-up(md) {
    .membre {
      width: 50%;
    }
  }
  @include media-breakpoint-up(xl) {
    .membre {
      width: 33%;
    }
  }
  @include media-breakpoint-down(sm) {
    .membre {
      width: 100%;
    }
  }
  .membre {
    display: block;
    height: 150px;
    padding-right: 20px;
    clear: both;
    list-style-type: none;
    
    img {
      display: block;
      float: left;
      width: 80px;
      height: 100px;
      margin-right: 10px;
      border: 3px solid $gray-400;
      transition: border-color .1s;
    }
    > a {
      outline: 0;
    }
    img:hover,
    a:focus img {
      border-color: $red;
    }
    p {
      margin-bottom: 0;
    }
    .nom-membre {
      padding-top: 10px;
      margin-bottom: 8px;
    }
    .nom-membre a {
      font-weight: 700;
      color: $black;
    }
    .nom-membre a:hover {
      border-bottom-color: $black;
    }
    .statut {
      margin-bottom: 4px;
      font-size: 12px;
      color: $black;
    }
    .equipe {
      font-size: 12px;
    }
    
  }
}

.encadre {
  font-family: "Roboto Condensed", sans-serif;
  background-color: $gray-200;
}

.photo-auteur {
  width: 150px;
  margin-right: 20px;
}

.info-auteur {
  padding-top: 10px;
  .statut {
    margin-bottom: 5px;
  }
  .fonction{
    margin-bottom: 5px;
    font-style: italic;
  }
  .contacts {
    padding-left: 0;
    margin-top: 20px;
    list-style-type: none;
    span {
      margin-left: 10px;
    }
    li {
      margin-top: 3px;
    }
    .hal {
      margin-top: 20px;
    }
  }
}

.hal-publications {
  h4 {
    padding-top: 10px;
    padding-left: 15px;
    margin-top: 30px;
    margin-bottom: 25px;
    font-family: Raleway, sans-serif;
    font-size: 23px;
    font-weight: 900;
    color: $red;
  }
  h4:not(:first-child) {
    border-top: 1px solid $black;
  }
  hr {
    border-color: $black;
  }
  ul {
    padding-left: 15px;
    list-style-type: none;
  }
  .hal-icons {
    i,
    a,
    span {
      margin-right: 8px;
      color: $gray-700;
    }
    a,
    a:hover,
    a:active,
    a:focus,
    a:visited {
      text-decoration: none;
      border: none;
      border-bottom: 1px solid transparent;
    }
    .lien-notice {
      padding: 3px 3px;
      font-size: 11px;
      color: $white;
      background-color: #29265f;
      border-radius: 0;
    }
    .label-typdoc {
      padding: 3px 4px;
      font-size: 11px;
      color: $white;
      background-color: $black;
      border: none;
      border-radius: 4px;
    }
  }
}

.lien-hal {
  padding: 10px 20px;
  margin-top: 60px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: $gray-200;
  span {
    margin-left: 5px;
  }
}

.hal-recentes {
  .hal-icons {
    display: flex;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 30px;
    vertical-align: middle;
    i {
      font-size: 20px;
    }
  }
}
.hal-complete {
  .hal-icons {
    display: inline;
    margin-left: 10px;
  }
  i {
    font-size: 14px;
  }
  li {
    margin-bottom: 10px;
  }
}
