/* NAVBAR ET MENU */

/* Top navbar */

.top-row {
  padding: 0;
  background-color: $black;
}

.utils {
  padding: 0;
  font-size: 1.1rem;

  .lang {
    margin-left: 1rem;
    font-size: .95rem;
    background-color: $gray-800;
  }
  a,
  a:link,
  a:hover {
    color: $white;
    text-decoration: none;
  }
  [type="search"] {
    width: 7rem;
    padding: .1rem .5rem;
    font-size: .9rem;
    background-color: $gray-400;
    transition: .3s;
  }
  [type="search"]:focus {
    width: 10rem;
    background-color: $white;
  }
  .form-search {
    button {
      color: $white;
      cursor: pointer;
      background-color: $black;
    }
  }
  .separator {
    height: 30px;
    margin: 5px .5rem;
    border-left: 1px solid $white;
  }
  
  @include media-breakpoint-down(md) {
    padding-right: 50px;
  }  
  @include media-breakpoint-down(xs) {
    padding-right: 0;
    .separator {
      display: none;
    }
    .form-search {
      position: absolute;
      top: 150px;
      right: 5%;
      z-index: 1000;
      max-width: 60%;
      padding: 0;
      border: 1px solid $gray-500;
      input {
        width: 7rem;
        font-size: 1.1rem;
        color: $black;
        background-color: $white;
        border: none;
      }
      input:focus {
        width: 7rem;
        border: none;
        box-shadow: none;
      }
      button {
        padding: 0;
        margin: 0 10px;
        font-size: 1.4rem;
        color: $gray-500;
        background-color: $white;
      }
    }
  }
}

/* Menu principal de navigation */

.menu {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  font-weight: 400;

  .navbar-toggler {
    padding: 8px 12px;
    font-size: 2.2rem;
    color: rgba(0, 0, 0, 1);
    border-color: $gray-500;
    outline-style: none;
  }

  .navbar-nav {
    .nav-link {
      color: $black;
      outline-style: none;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 0 40px;
    .nav-menu {
      margin: 0 -50px 0 -50px;
    }

    .navbar-nav {
      padding: 0;
      background-color: $gray-200;
      border-top: 2px solid $gray-400;
      border-bottom: 3px solid $gray-400;

      .nav-item {
        padding: 0;
      }

      .nav-item:not(:first-child) {
        border-top: 1px solid $gray-400;
      }

      .nav-link {
        padding: .8rem 50px;
        text-transform: uppercase;
      }

      .arrow-up {
        display: none;
      }

      .dropdown-menu {
        display: block;
        width: 100%;
        padding: 0;
        color: $black;
        background-color: #f5f8fb;
      }

      .dropdown-toggle::after {
        display: none;
      }
      
      .dropdown-item {
        padding: .7rem 10px .7rem 65px;
        color: $gray-700;
      }
      
      .active .nav-link,
      .dropdown-item.active {
        color: $red;
        background-color: inherit;
      }
      .nav-link:hover,
      .nav-link:focus,
      .nav-link:active,
      .dropdown-item:hover,
      .dropdown-item:focus,
      .dropdown-item:active,
      .nav-link.active:hover,
      .nav-link.active:focus,
      .nav-link.active:active,
      .dropdown-item.active:hover,
      .dropdown-item.active:focus,
      .dropdown-item.active:active,
      a:hover,
      a:active,
      a:focus {
        color: $white;
        background-color: #db2d2c;
      }
    }
  }
  
  @include media-breakpoint-down(xs) {
    align-items: flex-start;
    padding: 0;
    .navbar-brand {
      width: 100%;
      height: 79px;
      margin: 5px auto 10px auto;
      background-image: url("../img/logos/logo_cmw_small.svg");
      background-repeat: no-repeat;
      background-position-x: center;
      background-size: contain;
    }
    .navbar-toggler {
      margin: 5px 0 15px 15px;
    }
    .nav-menu {
      margin: 0;
    }
    .nav-link {
      padding-left: 15px;
    }
    .dropdown-item {
      padding: .7rem 10px .7rem 25px;
    }
  }
  
  @include media-breakpoint-up(sm) {
    min-height: 145px;
    padding: 0 50px;
    .navbar-brand {
      width: 174px;
      min-width: 174px;
      height: 144px;
      background-image: url("../img/logos/logo_cmw_large.svg");
      background-repeat: no-repeat;
      background-size: contain;
    }
    
    .navbar-toggler {
      margin: auto 0 auto 10px;
    }
  }
  
  @include media-breakpoint-up(lg) {
    align-items: flex-end;
    max-width: 1600px;
    padding: 0;
    
    .navbar-nav {
      padding-bottom: 2px;
      margin-left: auto;
      
      .nav-item {
        padding-bottom: 8px;
      }
      .nav-link {
        padding: .5rem .8rem;
      }
      .nav-item:hover,
      .nav-link:hover {
        color: $red;
      }
      .active {
        .nav-link {
          color: $red;
        }
      }
      .arrow-up {
        position: absolute;
        right: 0;
        bottom: -2px;
        left: 0;
        z-index: -1;
        width: 0;
        height: 0;
        margin-right: auto;
        margin-left: auto;
        visibility: hidden;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $red;
        border-left: 8px solid transparent;
        opacity: 0;
        transition: all .1s ease-in-out .2s, visibility 0s linear .5s, z-index 0s linear .5s;
        transform: translateY(-10px);
      }
      
      .dropdown:focus > .arrow-up,
      .dropdown:focus-within > .arrow-up,
      .dropdown:hover > .arrow-up {
        z-index: 1000;
        visibility: visible;
        opacity: 1;
        transition-delay: 0s, 0s, 0s;
        transition-duration: .2s, 0s, 0s;
        transform: translateY(0);
      }
      
      .dropdown-menu {
        left: 50%;
        z-index: -1;
        display: block;
        color: $white;
        visibility: hidden;
        background-color: $red;
        opacity: 0;
        transition: all .1s ease-in-out .2s, visibility 0s linear .5s, z-index 0s linear .5s;
        transform: translate(-50%, -10px);
      }
      
      .dropdown:focus > .dropdown-menu,
      .dropdown:focus-within > .dropdown-menu,
      .dropdown:hover > .dropdown-menu {
        z-index: 1000;
        visibility: visible;
        opacity: 1;
        transition-delay: 0s, 0s, 0s;
        transition-duration: .2s, 0s, 0s;
        transform: translate(-50%, 0);
      }
      
      .dropdown-item {
        padding: .5rem 1.25rem;
        color: $white;
      }
      .dropdown-item.active,
      .dropdown-item:hover,
      .dropdown-item:active,
      .dropdown-item:focus {
        background-color: #db2d2c;
      }
      
    }
  }
}
