/* SOMMAIRE */

.sommaire {
  a {
    color: $black;
    border-bottom: 1px solid transparent;
    transition: border-color .1s;
  }
  a:focus,
  a:hover {
    text-decoration: none;
    border-bottom: 1px solid $black;
  }
  h2 {
    margin-top: 4rem;
  }
}

/* Cartouche de présentation du labo */

.cartouche-labo {
  padding: 1.5rem 5rem 1rem 8.33%;
  margin-top: -3rem;
  color: $white;
  background-color: $black;
  h1 {
    margin: 0;
    font-family: Raleway, sans-serif;
    font-size: 48px;
    line-height: 1;
    color: $red;
  }
  .sub {
    margin-top: 0;
    font-family: Raleway, sans-serif;
    font-size: 28px;
    line-height: 1.2;
    color: $red;
  }
  .more {
    font-size: 20px;
  }
  @include media-breakpoint-down(sm) {
    padding-right: 8.33%;
    margin-top: -3px;
    h1 {
      font-size: 40px;
    }
    .sub {
      font-size: 24px;
    }
    .more {
      font-size: 18px;
    }
  }
}

.main {
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  @include media-breakpoint-down(xs) {
    padding: 0 5%;
  }
}

/* Carousel */

.carousel {
  h2 {
    color: $red;
  }
  .carousel-inner {
    background-color: #444;
  }
  img {
    height: 450px;
    min-height: 450px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    margin: 100px 0;
  }
  .carousel-control-prev:hover,
  .carousel-control-prev:focus,
  .carousel-control-next:hover,
  .carousel-control-next:focus {
    border-bottom: none;
  }
  .carousel-control-next-icon,
  .carousel-control-prev-icon {
    width: 30px;
    height: 30px;
  }
  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 2rem;
    text-align: left;
    background-color: rgba(0, 0, 0, .8);
    h5 {
      margin-bottom: 10px;
      font-size: 20px;
      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
    .more {
      margin-bottom: 0;
      font-size: 20px;
      @include media-breakpoint-down(md) {
        font-size: 16px;
      }
    }
  }
}

/* Événements */

.agenda-une {
  @include media-breakpoint-up(md) {
    margin-top: -380px;
    margin-right: 10px;
    margin-left: 10%;
  }
  @include media-breakpoint-up(lg) {
    margin-top: -300px;
    margin-left: 10%;
  }
  @include media-breakpoint-up(xl) {
    margin-top: -250px;
    margin-left: 10%;
  }
  background-color: #eee;
  h2 {
    padding: .8rem 2.5rem;
    margin-top: 3rem;
    font-size: 28px;
    color: $white;
    background-color: $red;
    border: none;
  }
  .agenda-item {
    padding: 1.2rem 2.5rem;
    h5 {
      margin-bottom: 3px;
      font-size: 16px;
    }
    a {
      font-weight: 700;
      color: $black;
    }
    .date {
      font-size: 14px;
      color: $red;
      span {
        padding-right: 4px;
      }
    }
    @include media-breakpoint-down(sm) {
      padding: .8rem 2.5rem;
      border-bottom: 1px solid #ccc;
      h5 {
        font-size: 16px;
      }
    }
  }
  .all {
    width: 100%;
    padding: 5px 1rem;
    margin-top: 1.5rem;
    font-size: 20px;
    text-align: center;
    background-color: $red;
    a {
      font-weight: 400;
      color: $white;
      text-transform: uppercase;
    }
    a:focus,
    a:hover {
      border-bottom: 1px solid $white;
    }
  }
}

/* Annonces */

.annonces {
  h2 {
    color: $red;
  }
  .annonces-liste {
    margin: 2em 2em;
  }
  h4 {
    min-height: 55px;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 900;
    color: $black;
  }
  h5 {
    margin-bottom: .6rem;
    font-size: 18px;
    font-weight: 600;
  }
  .more a,
  .more button {
    font-size: 14px;
    color: $red;
    border-radius: 0;
  }
  hr {
    margin: 1.5em 0;
    border: 0;
    border-bottom: 2px dotted $gray-500;
  }
  .modal-footer {
    justify-content: flex-start;
  }
}
