<div class="direction">
  <h4>Directrice</h4>
  <div class="row">
    <div class="col d-flex flex-row align-items-center">
      <img src="plugins/cmw2/img/direction/cdetrez.jpg" alt="Christine Détrez">
      <div style="margin-left: 20px;">
        <strong>Christine Détrez</strong><br>
        Depuis le 1er janvier 2019
        <p class="more">
          <a href="Christine-Détrez">En savoir <i class="bi-plus-circle" aria-hidden="true"></i></a>
        </p>
      </div>
    </div>
  </div>
  <h4>Directeurs.trices adjoint.es</h4>
  <div class="d-flex flex-row flex-wrap justify-content-between">
    <div class="diradj">
      <img src="plugins/cmw2/img/direction/imallon.jpg" alt="Isabelle Mallon">
      <strong>Isabelle Mallon</strong>
      Site Bron
      <p class="more">
        <a href="Isabelle-Mallon">En savoir <i class="bi-plus-circle" aria-hidden="true"></i></a>
      </p>
    </div>
    <div class="diradj">
      <img src="plugins/cmw2/img/direction/esantelli.jpg" alt="Emmanuelle Santelli">
      <strong>Emmanuelle Santelli</strong>
      Site MSH-LSE
      <p class="more">
        <a href="Emmanuelle-Santelli">En savoir <i class="bi-plus-circle" aria-hidden="true"></i></a>
      </p>
    </div>
    <div class="diradj">
      <img src="plugins/cmw2/img/direction/gclavandier.jpg" alt="Gaëlle Clavandier">
      <strong>Gaëlle Clavandier</strong>
      Site Saint-Étienne
      <p class="more">
        <a href="Gaelle-Clavandier">En savoir <i class="bi-plus-circle" aria-hidden="true"></i></a>
      </p>
    </div>
  </div>
</div>