<div id="map_infos_pratiques" class="leaflet-map" style="width:100%; height:450px"></div>

<div class="row sites">
  <div class="col-sm-6 col-md-12 col-lg-6">
    <h4>Site Lyon Berthelot</h4>
    
    <p>
      MSH Lyon Saint-Étienne<br>
      14 avenue Berthelot<br>
      69363 Lyon Cedex 07
    </p>
    <p>
      <strong>Contact :</strong> <a href="https://www.centre-max-weber.fr/Aude-Chapelon">Aude Chapelon</a><br>
      <strong>Tél :</strong> (33) 4 72 72 64 19<br>
      <strong>Fax :</strong> (33) 4 72 72 64 18
    </p>
    <p>
      <a href="https://www.msh-lse.fr/contact-et-infos/">
        <i class="bi-geo-alt-fill" aria-hidden="true"></i> Comment s'y rendre
      </a>
    </p>
  </div>
  <div class="col-sm-6 col-md-12 col-lg-6">
      <h4>Site Bron - Campus Porte des Alpes</h4>
      
      <p>
        Université Lumière Lyon 2<br>
        5, avenue Pierre Mendès-France<br>
        Bât H.<br>
        F-69696 Bron cedex
      </p>
      <p>
        <strong>Contact :</strong> <a href="https://www.centre-max-weber.fr/Kamel-Guerchouche">Kamel Guerchouche</a><br>
        <strong>Tél :</strong> (33) 4 78 77 23 97<br> 
        <strong>Fax :</strong> : (33) 4 78 09 44 70 <br>
      </p>
      <p>
        <a href ="https://www.univ-lyon2.fr/plan-d-acces">
          <i class="bi-geo-alt-fill" aria-hidden="true"></i> Comment s'y rendre
        </a> 
      </p>
  </div>
  <div class="col-sm-6 col-md-12 col-lg-6">
    <h4>Site Lyon - ENS</h4>
    <p>
      ENS de Lyon<br>
      15 parvis René Descartes<br>
      BP 7000 <br>
      69342 Lyon Cedex 07 <br>
    </p>
    <p>
      <strong>Contact :</strong> <a href="https://www.centre-max-weber.fr/Ferouze-Guitoun">Férouze Guitoun</a><br>
      <strong>Tél :</strong> (33) 4 37 37 62 75<br>
      <strong>Fax :</strong> (33) 4 37 37 60 24 <br>
    </p>
    <p>
      <a href="http://www.ens-lyon.fr/campus/en-pratique/se-rendre-lens">
        <i class="bi-geo-alt-fill" aria-hidden="true"></i> Comment s'y rendre
      </a>
    </p>
  </div>
    <div class="col-sm-6 col-md-12 col-lg-6">
    <h4>Site Saint-Étienne</h4>
    
    <p>
      Université Jean Monnet<br>
      Site tréfilerie<br>
      6 rue Basse des Rives<br>
      Bâtiment D - Etage R+1<br>
      42023 Saint Etienne
    </p>
    <p>
      <strong>Contact :</strong> <a href="https://www.centre-max-weber.fr/Noa-Achour">Noa Achour</a><br>
      <strong>Tél :</strong> (33) 4 77 42 19 81<br>
      <strong>Fax :</strong> (33) 4 77 42 19 83
    </p>
    <p>
      <a href="https://www.univ-st-etienne.fr/fr/universite/les-campus.html">
        <i class="bi-geo-alt-fill" aria-hidden="true"></i> Comment s'y rendre
      </a>
    </p>
  </div>
</div>

