    <INCLURE{fond=inc/header_start} />

    <title>Page non trouvée - [(#NOM_SITE_SPIP|textebrut)]</title>
    [
    <meta name="description" content="(#INTRODUCTION{150}|attribut_html)" />]
    <INCLURE{fond=inc/header_end}{id_article} />

    <!-- Bandeau -->
    <div class="container px-0">
            <div class="row bandeau no-gutters d-flex" style="background-image: url('#CHEMIN{img/bandeaux/404.jpg}');">
            </div>
    </div>
    
    <div class="container p-0">

        <!-- breadcrumb -->
        <div class="row mx-3 mx-md-0">
            <div class="col-md-10 offset-md-1 px-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="[(#URL_SITE_SPIP)]">Accueil</a>
                        </li>
                            <i class="bi-caret-right-fill" aria-hidden="true"></i>
                            <li class="breadcrumb-item active" aria-current="page">Page non trouvée</li>
                    </ol>
                </nav>
            </div>
        </div>



                <div class="page row mx-3 mx-md-0">
                    <div class="col-md-10 offset-md-1 px-0 surlignable">
                        <h2>Page non trouvée</h2>
  
                        La page que vous recherchez n'existe visiblement pas...


                    </div>
                  </div>


    </div>
    <!-- container -->

    <INCLURE{fond=inc/footer} />