<BOUCLE_principale(ARTICLES) {id_article}{tout}>

    <INCLURE{fond=inc/header_start} />

    <title>[(#TITRE|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
    [
    <meta name="description" content="(#INTRODUCTION{150}|attribut_html)" />]
    <INCLURE{fond=inc/header_end}{id_article} />

    <!-- Bandeau -->
    <BOUCLE_secteur-bandeau(RUBRIQUES){id_rubrique=#ID_SECTEUR}{tout}>
        #SET{'url_bandeau', #LOGO_RUBRIQUE**}
     </BOUCLE_secteur-bandeau>
    <div class="container px-0">
      <div class="row bandeau no-gutters d-flex" [style="background-image: url('#URL_SITE_SPIP/IMG/(#GET{url_bandeau})');"]>
      </div>
    </div>
     
    <div class="container p-0">

        <!-- breadcrumb -->
        <div class="row mx-3 mx-md-0">
            <div class="col-md-10 offset-md-1 px-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="[(#URL_SITE_SPIP)]">Accueil</a>
                        </li>
                        <BOUCLE_chemin(HIERARCHIE){id_article}{!id_mot IN 3,31,32}>
                            <i class="bi-caret-right-fill" aria-hidden="true"></i>
                            <li class="breadcrumb-item">
                                <a href="[(#URL_RUBRIQUE)]">[(#TITRE)]</a>
                            </li>
                            </BOUCLE_chemin>
                            <i class="bi-caret-right-fill" aria-hidden="true"></i>
                            <li class="breadcrumb-item active" aria-current="page">#TITRE</li>
                    </ol>
                </nav>
            </div>
        </div>

                <div class="page row mx-3 mx-md-0">
                    <div class="col-md-10 col-lg-7 offset-md-1 px-0 surlignable">
                        <h2 class="#EDIT{titre} entry-title">#TITRE</h2>
                        [
                        <h3 class="#EDIT{soustitre} soustitre">(#SOUSTITRE)</h3>] 

                        <div class="row px-0 px-md-4">
                            <div class="col surlignable">

                                    <BOUCLE_evenement_actu(EVENEMENTS){id_article}>
                                        [(#TOTAL_BOUCLE|=={'1'}|oui)
                                        <div class="evenement-actu">
                                            <table>
                                                <tbody>
                                                [<tr><td><i class="bi-calendar-event" aria-hidden="true"></i><strong>Date&nbsp;:</strong></td><td>(#DATE_DEBUT|Agenda_affdate_debut_fin{ #DATE_FIN,#HORAIRE})</td></tr>]
                                                [<tr><td><i class="bi-geo-alt-fill" aria-hidden="true"></i><strong>Lieu&nbsp;:</strong></td><td>(#LIEU|textebrut)</td></tr>] 
                                                [<tr><td><i class="bi-map-fill" aria-hidden="true"></i><strong>Adresse&nbsp;:</strong></td><td>(#ADRESSE)</td></tr>]
                                                </tbody>
                                            </table>
                                        </div>]
                                    </BOUCLE_evenement_actu>

                                [(#LOGO_ARTICLE|image_reduire{250,250})]

                                <div class="surlignable texte">
                                    [
                                    <div class="#EDIT{chapo} chapo">(#CHAPO|image_reduire{300,0})</div>] [
                                    <div class="#EDIT{texte} texte entry-content">(#TEXTE|image_reduire{500,500})</div>]
                                </div>


                                [
                                <p class="#EDIT{hyperlien} hyperlien">
                                    <:voir_en_ligne:> :
                                        <a href="(#URL_SITE)">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a>
                                </p>] 
                                [(#REM) Documents joints a la rubrique ]
                                <B_documents_joints>
                                <div class="menu" id="documents_joints">
                                    <h3><:medias:titre_documents_joints:></h3>
                                        <BOUCLE_documents_joints(DOCUMENTS) {id_article} {mode=document} {par num titre, date} {doublons}>
                                            <INCLURE{fond=modeles/doc, id_document}>
                                        </BOUCLE_documents_joints>
                                </div>
                                </B_documents_joints>
                                [
                                <div class="notes surlignable">
                                    <h3 class="pas_surlignable">
                                        <:info_notes:>
                                    </h3>(#NOTES)
                                </div>]
                                <B_equipes_actu>
                                        <div class="equipes-actu">
                                            <strong>Équipes concernées&nbsp;:</strong>
                                            <BOUCLE_equipes_actu(MOTS){id_article}{id_groupe=2}{', '}>
                                                <span><a href="#URL_RUBRIQUE{#RANG|num_rubrique_equipe}">#TITRE</a></span>
                                            </BOUCLE_equipes_actu>
                                        </div>
                                    </B_equipes_actu>
                                [(#ID_RUBRIQUE|=={50}|oui)
                                <p class="infos-actu">
                                    Publié le [(#DATE|affdate)]
                                </p>]
                            </div>
                        </div>
                    </div>

<!-- Calcul nombre de sous rubriques et articles -->
#SET{rubrique_base, #ID_RUBRIQUE}
#SET{is_actus_seminaires, "non"}
<BOUCLE_test-actus-seminaires(MOTS){id_rubrique}{id_mot=31}>
    #SET{is_actus_seminaires, "oui"}
</BOUCLE_test-actus-seminaires>

<BOUCLE_ssrub-count(RUBRIQUES){id_parent=#GET{rubrique_base}}{tout}>
</BOUCLE_ssrub-count>
    #SET{nb_elements, #TOTAL_BOUCLE}
</B_ssrub-count>
<BOUCLE_ssart-count(ARTICLES){id_rubrique=#GET{rubrique_base}}>
</BOUCLE_ssart-count>
    #SET{nb_elements, #GET{nb_elements}|plus{ #TOTAL_BOUCLE}}
</B_ssart-count>
<BOUCLE_test-elem(CONDITION){si #GET{nb_elements}|>{1}}{si #ID_SECTEUR|!={128}}{si #ID_RUBRIQUE|!={50}}{si #ID_RUBRIQUE|!={5}}{si #GET{is_actus_seminaires}|=={"non"}}{si #ID_SECTEUR|!={84}}>
  <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
    <div class="redblock">
      <BOUCLE_secteur-parent(RUBRIQUES){id_rubrique=#GET{rubrique_base}}{tout}>
        <h3><a href="#URL_RUBRIQUE">#TITRE</a></h3>
        <ul>
          <BOUCLE_ssrub(RUBRIQUES){id_parent}{par num titre}{tout}{!id_mot IN 3}>
            <li>
                [(#EXPOSE{'<i class="bi-caret-right-fill" aria-hidden="true"></i>'})]<a [class="(#EXPOSE{active})"] href="#URL_RUBRIQUE">#TITRE</a>
            </li>
          </BOUCLE_ssrub>
          <BOUCLE_ssart(ARTICLES){id_rubrique}{par num titre}>
            <li>
                [(#EXPOSE{'<i class="bi-caret-right-fill" aria-hidden="true"></i>'})]<a [class="(#EXPOSE{active})"] href="#URL_ARTICLE">#TITRE</a>
            </li>
          </BOUCLE_ssart>
        </ul>
      </BOUCLE_secteur-parent>
    </div>
  </div>
</BOUCLE_test-elem>

            </div>


    </div>
    <!-- container -->

    <INCLURE{fond=inc/footer} />
    </BOUCLE_principale>