<BOUCLE_principale(AUTEURS) {id_auteur}{tout}>


<INCLURE{fond=inc/header_start} />

<title>[(#NOM|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
[<meta name="description" content="(#BIO_AUTEUR|couper{150}|attribut_html)" />]
<INCLURE{fond=inc/header_end}{id_auteur} />


<!-- Bandeau -->
<BOUCLE_secteur-bandeau(RUBRIQUES){id_rubrique=51}{tout}>
    #SET{'url_bandeau', #LOGO_RUBRIQUE**}
</BOUCLE_secteur-bandeau>
<div class="container px-0">
   <div class="row bandeau no-gutters d-flex" [style="background-image: url('#URL_SITE_SPIP/IMG/(#GET{url_bandeau})');"]>
   </div>
</div>

<div class="container p-0">
    
    <!-- breadcrumb -->
    <div class="row mx-3 mx-md-0">
        <div class="col-md-10 offset-md-1 px-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="[(#URL_SITE_SPIP)]">Accueil</a>
                    </li>
                    <BOUCLE_chemin(RUBRIQUES){id_rubrique=51}{tout}{ " "}>
                    <i class="bi-caret-right-fill" aria-hidden="true"></i>
                    <li class="breadcrumb-item">
                        <a href="[(#URL_RUBRIQUE)]">[(#TITRE)]</a>
                    </li>
                </BOUCLE_chemin>
                <i class="bi-caret-right-fill" aria-hidden="true"></i>
                <li class="breadcrumb-item active" aria-current="page">#NOM</li>
            </ol>
        </nav>
    </div>
</div>

<div class="page row mx-3 mx-md-0">
    <div class="col-md-10 col-xl-7 offset-md-1 px-0 surlignable">
        <h2 class="#EDIT{qui} entry-title">#NOM</h2>

    <div class="row px-0 mx-3 mx-md-0">
    <div class="col d-flex px-4 py-3 m-0 mb-4 encadre">
        <div class="photo-auteur">
            [(#LOGO_AUTEUR|image_reduire{150,200}|image_recadre{150,200,'center center','#e9ecef'}|sinon{<img src="[(#CHEMIN{img/user_icon_large.png})]">})]
        </div>
        
        <div class="info-auteur">
            [<p class="statut">(#LISTER_VALEURS{statut_auteur}|supprimer_numero|replace{'\|',','}) [- (#LISTER_VALEURS{institution_auteur}|!={-vide-}|?{ #LISTER_VALEURS{institution_auteur},''}|replace{'\|',','})]</p>]
            [<p class="fonction">(#FONCTION_AUTEUR)</p>]
            [<p class="equipe"><a href="#URL_RUBRIQUE{#LISTER_VALEURS{equipe}|num_rubrique_equipe}">Équipe (#LISTER_VALEURS{equipe}|!={'7. Pôle commun'}|?{ #LISTER_VALEURS{equipe},''}|supprimer_numero|replace{'\|',','})</a></p>]
            
            <ul class="contacts">
                [<li><i class="bi-envelope-fill" aria-hidden="true"></i>&nbsp;<span class="#EDIT{email}"><a href="mailto:(#EMAIL)">[(#EMAIL)]</a></span></li>]
                [<li><i class="bi-link" aria-hidden="true"></i>&nbsp;<span class="#EDIT{hyperlien}"><a href="(#URL_SITE)" class="url org spip_out">[(#NOM_SITE|sinon{[(#URL_SITE|couper{80})]})]</a></span></li>]
                [<li><i class="bi-twitter" aria-hidden="true"></i>&nbsp;<span class="#EDIT{twitter}"><a href="https://twitter.com/#TWITTER">@(#TWITTER)</a></span></li>]
                [<li><i class="bi-telephone-fill" aria-hidden="true"></i>&nbsp;<span class="#EDIT{telephone_auteur}">(#TELEPHONE_AUTEUR)</span></li>]
                [<li><i class="bi-geo-alt-fill" aria-hidden="true"></i>&nbsp;<span>(#LISTER_VALEURS{localisation_auteur}|=={Autre}|?{
                    #LISTER_VALEURS{localisation_auteur_precision}|!={-vide-}|?{
                        #LISTER_VALEURS{localisation_auteur_precision},''},
                        #LISTER_VALEURS{localisation_auteur}})</span></li>]
                        <!-- Lien vers liste de publications -->
                        #SET{prenomnom, #ARRAY{prenom,#LEPRENOM,nom,#LENOM,url_hal,#URLHAL,idhal,#IDHAL}}
                        #SET{urlhal, (#GET{prenomnom}|genere_url_hal)}
                        #SET{suffixe_publis, (#IDHAL|match{[a-zA-Z]}|?{'','au Centre Max Weber'})}
                </ul>
            </div>
        </div>
    </div>
    
    <div class="row mx-3 mx-md-0">
        <div class="col px-0 surlignable">
            <!-- Biographie -->
            [<div class="bio mt-3">(#BIO_AUTEUR)</div>]
            
        <BOUCLE_test_hal_api(CONDITION){si #SOURCE_BIBLIO|=={hal}}>

            #SET{hide_typdoc, (#LISTER_VALEURS**{hidepubs})}

            <BOUCLE_test_hal_api_recentes(CONDITION){si #TYPEBIBLIO|!={complete}}>
                
                <B_affichage_recentes>
                <!-- Publications récentes via API HAL -->
                <h3>Dernières publications [(#GET{suffixe_publis})]</h3>
                <div class="hal-publications hal-recentes">

                <BOUCLE_affichage_recentes(DATA){source hal_api, (#IDHAL|get_hal_api_url{#LEPRENOM, #LENOM, #GET{hide_typdoc}, #NB_RECENTES, 0})}>

                    <BOUCLE_changement_annee(CONDITION){si (#VALEUR|annee_production|unique{start})}>
                        <BOUCLE_close_ul_recentes(CONDITION){si #GET{ul_to_close}}>
                            </ul>
                        </BOUCLE_close_ul_recentes>
                            #SET{ul_to_close, 'true'}
                        <//B_close_ul_recentes>
                        [<h4>(#VALEUR|annee_production|unique)</h4>]
                        <ul class="liste-hal">
                    </BOUCLE_changement_annee>

                    [<li>(#VALEUR|import_hal_api_recentes)</li>]
                
                </BOUCLE_affichage_recentes>
                    </ul>
                    <p class="lien-hal"><i class="bi-collection-fill" aria-hidden="true"></i>&nbsp;<span><a href="[(#GET{urlhal})]">Liste des publications [(#GET{suffixe_publis})] sur HAL</a></span></p>
                </div>
                </B_affichage_recentes>
            </BOUCLE_test_hal_api_recentes>

            <BOUCLE_test_hal_api_complete(CONDITION){si #TYPEBIBLIO|=={complete}}>
                
                <B_affichage_complete>
                <!-- Publications complètes via API HAL -->
                <h3>Publications [(#GET{suffixe_publis})]</h3>
                <div class="hal-publications hal-complete">

                <BOUCLE_affichage_complete(DATA){source hal_api, (#IDHAL|get_hal_api_url{#LEPRENOM, #LENOM, #GET{hide_typdoc}, #NB_RECENTES, 1})}>

                    <BOUCLE_changement_typdoc(CONDITION){si (#VALEUR|typdoc|unique{start})}>
                        <BOUCLE_close_ul_complete(CONDITION){si #GET{ul_to_close}}>
                            </ul>
                        </BOUCLE_close_ul_complete>
                            #SET{ul_to_close, 'true'}
                        <//B_close_ul_complete>
                        [<h4>(#VALEUR|typdoc|unique)</h4>]
                        <ul class="liste-hal">
                    </BOUCLE_changement_typdoc>

                    [<li>(#VALEUR|import_hal_api_complete)</li>]
                
                </BOUCLE_affichage_complete>
                    </ul>
                    <p class="lien-hal"><i class="bi-collection-fill" aria-hidden="true"></i>&nbsp;<span><a href="[(#GET{urlhal})]">Liste des publications [(#GET{suffixe_publis})] sur HAL</a></span></p>
                </div>   
                </B_affichage_complete>
            </BOUCLE_test_hal_api_complete>

        </BOUCLE_test_hal_api>

 [<div class="notes"><h2><:info_notes:></h2>(#NOTES)</div>]
</div>
</div>
</div>
</div>
</div>
<!-- container -->

<INCLURE{fond=inc/footer} />
</BOUCLE_principale>