<BOUCLE_principale(MOTS) {id_mot}>



	<INCLURE{fond=inc/header_start} />

	<title>[(#TITRE|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
	[
	<meta name="description" content="(#INTRODUCTION{150}|attribut_html)" />]
	<INCLURE{fond=inc/header_end}{id_article} />

	<!-- Bandeau -->
	<BOUCLE_secteur-bandeau(RUBRIQUES){id_rubrique=#ID_SECTEUR}{tout}>
			#SET{'url_bandeau', #LOGO_RUBRIQUE**}
	 </BOUCLE_secteur-bandeau>
	<div class="container px-0">
		<div class="row bandeau no-gutters d-flex" [style="background-image: url('#URL_SITE_SPIP/IMG/(#GET{url_bandeau})');"]>
		</div>
	</div>
	 
	<div class="container p-0">

			<!-- breadcrumb -->
			<div class="row mx-3 mx-md-0">
					<div class="col-md-10 offset-md-1 px-0">
							<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
											<li class="breadcrumb-item">
													<a href="[(#URL_SITE_SPIP)]">Accueil</a>
											</li>
											<BOUCLE_chemin(HIERARCHIE){id_article}{!id_mot IN 3,31,32}>
													<i class="bi-caret-right-fill" aria-hidden="true"></i>
													<li class="breadcrumb-item">
															<a href="[(#URL_RUBRIQUE)]">[(#TITRE)]</a>
													</li>
													</BOUCLE_chemin>
													<i class="bi-caret-right-fill" aria-hidden="true"></i>
													<li class="breadcrumb-item active" aria-current="page">#TITRE</li>
									</ol>
							</nav>
					</div>
			</div>

							<div class="page row mx-3 mx-md-0">
									<div class="col-md-10 col-lg-7 offset-md-1 px-0 surlignable">

										<h2 class="#EDIT{titre} surlignable">Mot clé #TITRE</h1>

				[<div class="#EDIT{texte} texte">(#TEXTE)</div>]
	
			[(#REM) Articles lies au mot-cle ]
			<B_articles>
				#ANCRE_PAGINATION
				<h3><:articles:> (#GRAND_TOTAL)</h3>
				<div class="resultat-recherche">
					<table>
								<thead>
									<tr><th class="td-logo"></th><th>Titre</th><th>Date</th></tr>
								</thead>
								<tbody class="list">
				
					<BOUCLE_articles(ARTICLES) {id_mot} {!par popularite} {pagination 10}>
						<tr class="[(#COMPTEUR_BOUCLE|alterner{'odd','even'})]">
              <td class="td-logo">
              [(#LOGO_ARTICLE|image_reduire{50,150})]
              </td>
              <td><a href="#URL_ARTICLE"><span class="searchtext">#TITRE</span></a></td><td>[(#DATE|affdate)]</td>
            </tr>						
					</BOUCLE_articles>
					[<tr><td colspan="4"><nav class="pagination" role="pagination">(#PAGINATION)</nav></td></tr>]
        </tbody>
    </table>
    </div>
			</B_articles>
	
			[(#REM) Rubriques liees au mot-cle ]
			<B_rubriques>
				<h3><:rubriques:> (#GRAND_TOTAL)</h3>
				<div class="resultat-recherche">
					<table>
								<thead>
									<tr><th class="td-logo"></th><th>Titre</th></tr>
								</thead>
								<tbody class="list">
					<BOUCLE_rubriques(RUBRIQUES) {id_mot} {par titre}>
						<tr class="[(#COMPTEUR_BOUCLE|alterner{'odd','even'})]">
              <td class="td-logo">
              [(#LOGO_RUBRIQUE|image_reduire{50,90})]
              </td>
              <td><a href="#URL_RUBRIQUE"><span class="searchtext">#TITRE</span></a></td>
            </tr>
					</BOUCLE_rubriques>
        </tbody>
    </table>
    </div>
			</B_rubriques>
	
</div>
</div>

    <!-- container -->
    <INCLURE{fond=inc/footer} />
</BOUCLE_principale>
