<BOUCLE_principale(PUBLIS) {id_publi}{tout}>


<INCLURE{fond=inc/header_start} />

<title>[(#TITRE|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
[<meta name="description" content="(#TEXTE|couper{150}|attribut_html)" />]
<INCLURE{fond=inc/header_end}{id_publi} />


<!-- Bandeau -->
<BOUCLE_secteur-bandeau(RUBRIQUES){id_rubrique=5}{tout}>
    #SET{'url_bandeau', #LOGO_RUBRIQUE**}
</BOUCLE_secteur-bandeau>
<div class="container px-0">
   <div class="row bandeau no-gutters d-flex" [style="background-image: url('#URL_SITE_SPIP/IMG/(#GET{url_bandeau})');"]>
   </div>
</div>

<div class="container p-0">
    
    <!-- breadcrumb -->
    <div class="row mx-3 mx-md-0">
        <div class="col-md-10 offset-md-1 px-0">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="[(#URL_SITE_SPIP)]">Accueil</a>
                    </li>
                    <BOUCLE_chemin(RUBRIQUES){id_rubrique=5}{tout}{ " "}>
                    <i class="bi-caret-right-fill" aria-hidden="true"></i>
                    <li class="breadcrumb-item">
                        <a href="[(#URL_RUBRIQUE)]">[(#TITRE)]</a>
                    </li>
                    </BOUCLE_chemin>
                    <i class="bi-caret-right-fill" aria-hidden="true"></i>
                    <li class="breadcrumb-item active" aria-current="page">#TITRE</li>
                </ol>
            </nav>
        </div>
    </div>

<div class="page row mx-3 mx-md-0">
    <div class="col-md-10 col-xl-7 offset-md-1 px-0 surlignable">

            <h2 class="#EDIT{titre} entry-title">#TITRE</h2>
            [<h3 class="#EDIT{auteur} soustitre">(#AUTEUR)</h3>] 

            <div class="row px-0 px-md-4">
                <div class="col-12 col-md-4 col-lg-3 surlignable publi-couv">
                    [(#LOGO_PUBLI|image_reduire{250,250}|sinon{<img src="[(#CHEMIN{img/publi-icon.jpg})]">})]
                </div>
                <div class="col-12 col-md-8 col-lg-9 surlignable">
                    #SET{nomtypepubli,
                        #ARRAY{
                            article, Article,
                            ouvrage, Ouvrage,
                            chapitre, Chapitre d'ouvrage,
                            rapport, Rapport,
                            recension, Recension,
                            audiovisuel, Audiovisuel,
                            autre, Autre
                        }}
                    
                    <div class="champ publi-biblio">
                        [<i class="fas (#GET{nomtypepubli/#TYPEPUBLI}|icone_publi)"></i> ]
                        <BOUCLE_test_autres(CONDITION){si #TYPEPUBLI|=={'autre'}}>[<strong><span dir="#LANG_DIR" class="#EDIT{auteur} auteur">(#AUTEUR)</span></strong>]</BOUCLE_test_autres>
                          <span dir="#LANG_DIR" class="#EDIT{typepubli} typepubli">[(#GET{nomtypepubli/#TYPEPUBLI})]</span>
                          <BOUCLE_test_recension(CONDITION){si #TYPEPUBLI|=={'recension'}}>
                            par [<strong><span dir="#LANG_DIR" class="#EDIT{auteur} auteur">(#AUTEUR)</span></strong>]
                          </BOUCLE_test_recension>
                            [(#AUTEUR|preposition_de)][<strong><span dir="#LANG_DIR" class="#EDIT{auteur} auteur">(#AUTEUR)</span></strong>]
                          <//B_test_recension>
                        <//B_test_autres>[ in <em><span dir="#LANG_DIR" class="#EDIT{revue} revue">(#REVUE)</span></em>[, <span dir="#LANG_DIR" class="#EDIT{volumaison} volumaison">(#VOLUMAISON)</span>]][, 
                        <span dir="#LANG_DIR" class="#EDIT{editeur} editeur">(#EDITEUR)</span>][, <span dir="#LANG_DIR" class="#EDIT{annee} annee">(#ANNEE)</span>.]
                    </div>

                    <div class="surlignable texte">
                        [<div class="#EDIT{texte} texte entry-content">(#TEXTE|image_reduire{500,500})</div>]
                    </div>
                </div>
                <B_equipes_publi>
                    <div class="col">
                    <div class="equipes-actu">
                        <strong>Équipes concernées&nbsp;:</strong>
                        <BOUCLE_equipes_publi(MOTS){id_publi}{id_groupe=2}{', '}>
                            <span><a href="#URL_RUBRIQUE{#RANG|num_rubrique_equipe}">#TITRE</a></span>
                        </BOUCLE_equipes_publi>
                    </div>
                    </div>
                </B_equipes_publi>
            </div>
    </div>
</div>
</div>
<!-- container -->

<INCLURE{fond=inc/footer} />
</BOUCLE_principale>