    <INCLURE{fond=inc/header_start} />

    <title>Résultats de la recherche - [(#NOM_SITE_SPIP|textebrut)]</title>
    <INCLURE{fond=inc/header_end}{id_article} />

    <!-- Bandeau -->
    <div class="container px-0">
            <div class="row bandeau no-gutters d-flex" style="background-image: url('#CHEMIN{img/bandeaux/rechercher.jpg}');">
            </div>
    </div>
    
    <div class="container p-0">

        <!-- breadcrumb -->
        <div class="row mx-3 mx-md-0">
            <div class="col-md-10 offset-md-1 px-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="[(#URL_SITE_SPIP)]">Accueil</a>
                        </li>
                        <BOUCLE_chemin(HIERARCHIE){id_article}{ " "}>
                            [ (#ID_RUBRIQUE|!={84}|oui)
                            <i class="bi-caret-right-fill" aria-hidden="true"></i>
                            <li class="breadcrumb-item">
                                <a href="[(#URL_RUBRIQUE)]">[(#TITRE)]</a>
                            </li>]
                            </BOUCLE_chemin>
                            <i class="bi-caret-right-fill" aria-hidden="true"></i>
                            <li class="breadcrumb-item active" aria-current="page">Résultats de la recherche</li>
                    </ol>
                </nav>
            </div>
        </div>

        [(#ENV{type}|=={""}|oui) #SET{ type, 'tous'}]
        [(#ENV{type}|!={""}|oui) #SET{ type, #ENV{type}}]

                <div class="page row mx-3 mx-md-0">
                    <div class="col-md-10 offset-md-1 px-0 surlignable">
                        <h2>Résultats de votre recherche</h2>
  

                              <div class="resultats-recherche">
                              <p>Voici les résultats de votre recherche pour : <strong>#RECHERCHE</strong>.</p>
                              [(#GET{type}|=={"evenements"}|oui) 
                              <p>Votre recherche ne porte que sur les événements. Vous pouvez aussi la lancer <a href="[(#SELF|parametre_url{type, ''})]">sur l'ensemble du site</a>.</p>]
                              [(#GET{type}|=={"publis"}|oui) 
                              <p>Votre recherche ne porte que sur les publications. Vous pouvez aussi la lancer <a href="[(#SELF|parametre_url{type, ''})]">sur l'ensemble du site</a>.</p>]                              
                              </div>

                            <INCLURE{fond=inc/rechercher_auteurs, env}>
                              
                          <BOUCLE_test-tous(CONDITION){si #GET{type}|=={tous}}>
                            <INCLURE{fond=inc/rechercher_rubriques, env, ajax}>
                            <INCLURE{fond=inc/rechercher_articles, env, ajax}>
                          </BOUCLE_test-tous>
                          <BOUCLE_test-ev(CONDITION){si #GET{type}|!={evenements}}>
                            <INCLURE{fond=inc/rechercher_publis, env, ajax}>
                          </BOUCLE_test-ev>

                          <!-- Événements-->
                          <BOUCLE_test-publis(CONDITION){si #GET{type}|!={publis}}>
                          #SET{liste_ev,#ARRAY}
                          <BOUCLE_articles_ev(ARTICLES){recherche} {par points}{inverse}{id_secteur IN 50}>
                              <BOUCLE_liste_evts(EVENEMENTS){id_article}{par date}>
                                 #SET{liste_ev,#GET{liste_ev}|push{ #ID_EVENEMENT}}
                              </BOUCLE_liste_evts>
                          </BOUCLE_articles_ev>
                          <INCLURE{fond=inc/rechercher_evenements, env, ajax, liste_ev=#GET{liste_ev}}>
                          </BOUCLE_test-publis>

                            </div>
                        </div>
                    </div>
                  </div>


    </div>
    <!-- container -->

    <INCLURE{fond=inc/footer} />