[(#HTTP_HEADER{Content-type: text/xml[; charset=(#CHARSET)]})]<?xml 
version="1.0"[ encoding="(#CHARSET)"]?>
<rss version="2.0" [(#REM) rss 2.0.9)]
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
>

<channel[ xml:lang="(#LANG)"]>
	<title>[(#NOM_SITE_SPIP|textebrut|texte_backend)]</title>
	<link>#URL_SITE_SPIP/</link>
	<description>[(#DESCRIPTIF_SITE_SPIP|supprimer_tags|texte_backend)]</description>
	<language>#LANG</language>

[	<image>
		<title>[(#NOM_SITE_SPIP|texte_backend)]</title>
		<url>(#LOGO_SITE_SPIP|image_reduire{144,400}|extraire_attribut{src}|url_absolue|texte_backend)</url>
		<link>#URL_SITE_SPIP/</link>
		[<height>(#LOGO_SITE_SPIP|image_reduire{144,400}|extraire_attribut{height})</height>]
		[<width>(#LOGO_SITE_SPIP|image_reduire{144,400}|extraire_attribut{width})</width>]
	</image>
]

#SET{articles, #ARRAY}

<BOUCLE_10articles(ARTICLES){id_rubrique=50}{par date}{inverse}{0,10}{unique}>
	[(#SET{articles, #GET{articles}|array_merge{#ARRAY{article#ID_ARTICLE, #DATE}}})]
</BOUCLE_10articles>
<BOUCLE_rub_actus_seminaires(RUBRIQUES){id_mot=31}>
	<BOUCLE_actus_seminaires(ARTICLES){id_rubrique}{0,10}{par date}{inverse}{unique}>
		[(#SET{articles, #GET{articles}|array_merge{#ARRAY{article#ID_ARTICLE, #DATE}}})]
	</BOUCLE_actus_seminaires>
</BOUCLE_rub_actus_seminaires>
<BOUCLE_rub_actus_accompagnement(RUBRIQUES){id_mot=32}>
	<BOUCLE_actus_accompagnement(ARTICLES){id_rubrique}{0,10}{par date}{inverse}{unique}>
		[(#SET{articles, #GET{articles}|array_merge{#ARRAY{article#ID_ARTICLE, #DATE}}})]
	</BOUCLE_actus_accompagnement>
</BOUCLE_rub_actus_accompagnement>
<BOUCLE_10publis(PUBLIS){par date}{inverse}{0,10}{unique}>
	[(#SET{articles, #GET{articles}|array_merge{#ARRAY{publi#ID_PUBLI, #DATE_PUBLICATION}}})]
</BOUCLE_10publis>

[(#SET{articles, #GET{articles}|tri_tableau})]

<BOUCLE_items(DATA){source table,#GET{articles}}{0,10}>
	[(#SET{id, #CLE|match{(\d+)$, 1}})]
	<BOUCLE_test_article(CONDITION){si #CLE|match{^article}}>
		<INCLURE{fond=inc/rss-article, id_article=#GET{id}} />
	</BOUCLE_test_article>
	<BOUCLE_test_publi(CONDITION){si #CLE|match{^publi}}>
		<INCLURE{fond=inc/rss-publi, id_publi=#GET{id}} />
	</BOUCLE_test_publi>
</BOUCLE_items>

</channel>

</rss>
