[(#REM) Rubriques accompagnement, ressources, formations]
<BOUCLE_principale(RUBRIQUES) {id_rubrique}{tout}>

    <INCLURE{fond=inc/header_start} />

    <title>[(#TITRE|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
    [
    <meta name="description" content="(#INTRODUCTION{150}|attribut_html)" />]
    <INCLURE{fond=inc/header_end}{id_rubrique} />

    <!-- Bandeau -->
    <BOUCLE_secteur-bandeau(RUBRIQUES){id_rubrique=#ID_SECTEUR}{tout}>
        #SET{'url_bandeau', #LOGO_RUBRIQUE**}
     </BOUCLE_secteur-bandeau>
    <div class="container px-0">
      <div class="row bandeau no-gutters d-flex" [style="background-image: url('#URL_SITE_SPIP/IMG/(#GET{url_bandeau})');"]>
      </div>
    </div>

    <div class="container p-0">

        <!-- breadcrumb -->
        <div class="row mx-3 mx-md-0">
            <div class="col-md-10 offset-md-1 px-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="[(#URL_SITE_SPIP)]">Accueil</a>
                        </li>
                        
                        <BOUCLE_chemin(HIERARCHIE){id_rubrique}>
                            <i class="bi-caret-right-fill" aria-hidden="true"></i>
                            <li class="breadcrumb-item">
                                <a href="[(#URL_RUBRIQUE)]">[(#TITRE)]</a>
                            </li>
                            </BOUCLE_chemin>
                            <i class="bi-caret-right-fill" aria-hidden="true"></i>
                            <li class="breadcrumb-item active" aria-current="page">#TITRE</li>
                    </ol>
                </nav>
            </div>
        </div>
     
        <div class="page row mx-3 mx-md-0">
                    <div class="col-md-10 col-lg-7 offset-md-1 px-0 surlignable">
                        <h2 class="#EDIT{titre} entry-title">#TITRE</h2>
                        <div class="row px-0 px-md-4">
                            <div class="col surlignable">

                                    [<div class="#EDIT{texte} texte entry-content">(#TEXTE|image_reduire{300,300})</div>]

                                <BOUCLE_rubrique_actus(RUBRIQUES){id_parent=#ID_RUBRIQUE}{titre='Actualités'}{tout}>
                                #SET{id_rub_actus, #ID_RUBRIQUE}
                                </BOUCLE_rubrique_actus>

                                <B_evts>
                                <div class="evenement-actu">
                                <h5>Prochains événements</h5>
                                <table>
                                <tbody class="list list-evenements">
                                <BOUCLE_evts(EVENEMENTS){id_rubrique=#GET{id_rub_actus}}{evenement_a_venir}{par date}>
                                <tr class="evenement [(#COMPTEUR_BOUCLE|alterner{'odd','even'})]">
                                  <td>[(#DATE_DEBUT|affdate_jourcourt)][ - (#DATE_FIN|affdate_jourcourt|!={ #DATE_DEBUT|affdate_jourcourt}|oui) [(#DATE_FIN|affdate_jourcourt)]] :</td>
                                  <td><a href="#URL_ARTICLE"><span class="searchtext">#TITRE</span></a> [((#LIEU))]</td>
                                </tr>
                                </BOUCLE_evts>
                                </tbody>
                                </table>
                                </div>
                                </B_evts>

                                <B_actus>
                                <h3>Actualités</h3>
                                  <div class="row">
                                  <BOUCLE_actus(ARTICLES){id_rubrique=#GET{id_rub_actus}}{par date}{inverse}{0,3}{doublons}>
                                  <div class="col-12 col-sm-6 col-xl-4 actu-seminaire">
                                  <div class="date">
                                      <i class="bi-calendar-event" aria-hidden="true"></i> [(#DATE|affdate)]
                                    </div>

                                    <h5><a href="#URL_ARTICLE">#TITRE</a></h5>
                                    [(#LOGO_ARTICLE|image_reduire{100})]
                                    #INTRODUCTION{200}
                                    <p class="more">
                                    <a href="#URL_ARTICLE">En savoir
                                      <i class="bi-plus-circle-fill" aria-hidden="true"></i>
                                    </a>
                                    </p>
                                  </div>
                                  </BOUCLE_actus>
                                  </div>
                                </B_actus>

                                <B_liste-ssrub>
                                        <ul class="liste-rub">
                                        <BOUCLE_liste-ssrub(RUBRIQUES){id_parent}{!id_mot=3}{!titre = 'Actualités'}{par num titre}{tout}>
                                        <li>
                                            <a href="#URL_RUBRIQUE">[(#LOGO_RUBRIQUE|image_reduire{250,250}|image_recadre{250,250,'center center','transparent'}|sinon{<img src="[(#CHEMIN{img/logos/defaut.jpg})]">})]</a>
                                            <h5><a href="#URL_RUBRIQUE">#TITRE</a></h5>
                                        </li>
                                        </BOUCLE_liste-ssrub>
                                        </ul>                                
                                </B_liste-ssrub>  

                                <INCLURE{fond=inc/seminaire-archives, ajax, env, doublons, id_rub_actus=#GET{id_rub_actus}}>

                                 [<div class="notes surlignable">
                                    <h3 class="pas_surlignable">
                                        <:info_notes:>
                                    </h3>(#NOTES)
                                </div>] 
                                [(#REM) Documents joints a la rubrique ]
                                <B_documents_joints>
                                <div class="menu" id="documents_joints">
                                    <h3><:medias:titre_documents_joints:></h3>
                                    <BOUCLE_documents_joints(DOCUMENTS) {id_rubrique} {mode=document} {par num titre, date} {doublons}>
                                            <INCLURE{fond=modeles/doc, id_document}>
                                        </BOUCLE_documents_joints>
                                </div>
                                </B_documents_joints>  

                                <!-- Liste des membres pour les rubriques équipe -->
                                [(#ID_RUBRIQUE|>{42}|et{ #ID_RUBRIQUE|<{50}}|oui)
                                <p class="membres-equipe"><a href="[(#URL_RUBRIQUE{51}|parametre_url{'groupe', 'equipe'}|parametre_url{'tab',#ID_RUBRIQUE|moins{42}})]"><i class="bi-people-fill" aria-hidden="true"></i> Liste des membres de l'équipe</a></p>]
                                                                
                                

                            </div>
                        </div>
                    </div>

<!-- Calcul nombre de sous rubriques et articles -->
#SET{nb_elements, 0}
#SET{rubrique_base, #ID_RUBRIQUE}
[(#ID_PARENT|!={0}|oui) #SET{rubrique_base, #ID_PARENT}]
<BOUCLE_ssrub-count(RUBRIQUES){id_parent=#GET{rubrique_base}}{tout}>
</BOUCLE_ssrub-count>
    #SET{nb_elements, #TOTAL_BOUCLE}
</B_ssrub-count>
<BOUCLE_ssart-count(ARTICLES){id_rubrique=#GET{rubrique_base}}>
</BOUCLE_ssart-count>
    #SET{nb_elements, #GET{nb_elements}|plus{ #TOTAL_BOUCLE}}
</B_ssart-count>
<BOUCLE_test-elem(CONDITION){si #GET{nb_elements}|>{1}}>
  <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
    <div class="redblock">
      <BOUCLE_secteur-parent(RUBRIQUES){id_rubrique=#GET{rubrique_base}}{tout}>
        <h3><a href="#URL_RUBRIQUE">#TITRE</a></h3>
        <ul>
          <BOUCLE_ssrub(RUBRIQUES){id_parent}{par num titre}{tout}>
            <li>
              [(#EXPOSE{'<i class="bi-caret-right-fill" aria-hidden="true"></i>'})]<a [class="(#EXPOSE{active})"] href="#URL_RUBRIQUE">#TITRE</a>
            </li>
          </BOUCLE_ssrub>
          <BOUCLE_ssart(ARTICLES){id_rubrique}{par num titre}>
            <li>
              [(#EXPOSE{'<i class="bi-caret-right-fill" aria-hidden="true"></i>'})]<a [class="(#EXPOSE{active})"] href="#URL_ARTICLE">#TITRE</a>
            </li>
          </BOUCLE_ssart>
        </ul>
      </BOUCLE_secteur-parent>
    </div>
  </div>
</BOUCLE_test-elem>

               </div>


    </div>
    <!-- container -->

    <INCLURE{fond=inc/footer} />
    </BOUCLE_principale>