[(#REM) Rubrique liste des accompagnements, ressources et formation]
<BOUCLE_principale(RUBRIQUES) {id_rubrique}{tout}>

    <INCLURE{fond=inc/header_start} />

    <title>[(#TITRE|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
    [
    <meta name="description" content="(#INTRODUCTION{150}|attribut_html)" />]
    <INCLURE{fond=inc/header_end}{id_rubrique} />

    <!-- Bandeau -->
    <BOUCLE_secteur-bandeau(RUBRIQUES){id_rubrique=#ID_SECTEUR}{tout}>
        #SET{'url_bandeau', #LOGO_RUBRIQUE**}
     </BOUCLE_secteur-bandeau>
    <div class="container px-0">
      <div class="row bandeau no-gutters d-flex" [style="background-image: url('#URL_SITE_SPIP/IMG/(#GET{url_bandeau})');"]>
      </div>
    </div>

    <div class="container p-0">

        <!-- breadcrumb -->
        <div class="row mx-3 mx-md-0">
            <div class="col-md-10 offset-md-1 px-0">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="[(#URL_SITE_SPIP)]">Accueil</a>
                        </li>
                        
                        <BOUCLE_chemin(HIERARCHIE){id_rubrique}>
                            <i class="bi-caret-right-fill" aria-hidden="true"></i>
                            <li class="breadcrumb-item">
                                <a href="[(#URL_RUBRIQUE)]">[(#TITRE)]</a>
                            </li>
                            </BOUCLE_chemin>
                            <i class="bi-caret-right-fill" aria-hidden="true"></i>
                            <li class="breadcrumb-item active" aria-current="page">#TITRE</li>
                    </ol>
                </nav>
            </div>
        </div>
     
        <div class="page row mx-3 mx-md-0">
                    <div class="col-md-10 col-lg-7 offset-md-1 px-0 surlignable">
                        <h2 class="#EDIT{titre} entry-title">#TITRE</h2>
                        <div class="row px-0 px-md-4">
                            <div class="col surlignable">

                                    [<div class="#EDIT{texte} texte entry-content">(#TEXTE|image_reduire{300,300})</div>]

                                
                            <BOUCLE_types(RUBRIQUES){id_parent}{par num titre}{tout}>
                                <h3>#TITRE</h3>
                                <B_seminaires>
                                        <ul class="liste-rub">
                                        <BOUCLE_seminaires(RUBRIQUES){id_parent}{par num titre}{tout}>
                                        <li>
                                            <a href="#URL_RUBRIQUE">[(#LOGO_RUBRIQUE|image_reduire{250,250}|image_recadre{250,250,'center center','transparent'}|sinon{<img src="[(#CHEMIN{img/logos/defaut.jpg})]">})]</a>
                                            <h5><a href="#URL_RUBRIQUE">#TITRE</a></h5>
                                        </li>
                                        </BOUCLE_seminaires>
                                        </ul>                                
                                </B_seminaires>    
                            </BOUCLE_types>

                                [(#REM) Documents joints a la rubrique ]
                                <B_documents_joints>
                                <div class="menu" id="documents_joints">
                                    <h3><:medias:titre_documents_joints:></h3>
                                    <BOUCLE_documents_joints(DOCUMENTS) {id_rubrique} {mode=document} {par num titre, date} {doublons}>
                                            <INCLURE{fond=modeles/doc, id_document}>
                                        </BOUCLE_documents_joints>
                                </div>
                                </B_documents_joints>

                            </div>
                        </div>
                    </div>

<!-- Calcul nombre de sous rubriques et articles -->
#SET{nb_elements, 0}
#SET{rubrique_base, #ID_RUBRIQUE}
[(#ID_PARENT|!={0}|oui) #SET{rubrique_base, #ID_PARENT}]
<BOUCLE_ssrub-count(RUBRIQUES){id_parent=#GET{rubrique_base}}{tout}>
</BOUCLE_ssrub-count>
    #SET{nb_elements, #TOTAL_BOUCLE}
</B_ssrub-count>
<BOUCLE_ssart-count(ARTICLES){id_rubrique=#GET{rubrique_base}}>
</BOUCLE_ssart-count>
    #SET{nb_elements, #GET{nb_elements}|plus{ #TOTAL_BOUCLE}}
</B_ssart-count>
<BOUCLE_test-elem(CONDITION){si #GET{nb_elements}|>{1}}>
  <div class="col-md-10 offset-md-1 col-lg-3 offset-lg-0">
    <div class="redblock">
      <BOUCLE_secteur-parent(RUBRIQUES){id_rubrique=#GET{rubrique_base}}{tout}>
        <h3><a href="#URL_RUBRIQUE">#TITRE</a></h3>
        <ul>
          <BOUCLE_ssrub(RUBRIQUES){id_parent}{par num titre}{tout}>
            <li>
              [(#EXPOSE{'<i class="bi-caret-right-fill" aria-hidden="true"></i>'})]<a [class="(#EXPOSE{active})"] href="#URL_RUBRIQUE">#TITRE</a>
            </li>
          </BOUCLE_ssrub>
          <BOUCLE_ssart(ARTICLES){id_rubrique}{par num titre}>
            <li>
              [(#EXPOSE{'<i class="bi-caret-right-fill" aria-hidden="true"></i>'})]<a [class="(#EXPOSE{active})"] href="#URL_ARTICLE">#TITRE</a>
            </li>
          </BOUCLE_ssart>
        </ul>
      </BOUCLE_secteur-parent>
    </div>
  </div>
</BOUCLE_test-elem>

               </div>


    </div>
    <!-- container -->

    <INCLURE{fond=inc/footer} />
    </BOUCLE_principale>