[(#REM) Rubrique membres]
<BOUCLE_principale(RUBRIQUES) {id_rubrique}{tout}>

<INCLURE{fond=inc/header_start} />

<title>[(#TITRE|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
[
<meta name="description" content="(#INTRODUCTION{150}|attribut_html)" />]
<INCLURE{fond=inc/header_end}{id_rubrique} />

<!-- Bandeau -->
<BOUCLE_secteur-bandeau(RUBRIQUES){id_rubrique=51}{tout}>
    #SET{'url_bandeau', #LOGO_RUBRIQUE**}
</BOUCLE_secteur-bandeau>
<div class="container px-0">
   <div class="row bandeau no-gutters d-flex" [style="background-image: url('#URL_SITE_SPIP/IMG/(#GET{url_bandeau})');"]>
   </div>
</div>

<div class="container p-0">
  
  <!-- breadcrumb -->
  <div class="row mx-3 mx-md-0">
    <div class="col-md-10 offset-md-1 px-0">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="[(#URL_SITE_SPIP)]">Accueil</a>
          </li>
          <BOUCLE_chemin(HIERARCHIE){id_rubrique}>
          <i class="bi-caret-right-fill" aria-hidden="true"></i>
          <li class="breadcrumb-item">
            <a href="[(#URL_RUBRIQUE)]">[(#TITRE)]</a>
          </li>
        </BOUCLE_chemin>
        <i class="bi-caret-right-fill" aria-hidden="true"></i>
        <li class="breadcrumb-item active" aria-current="page">#TITRE</li>
      </ol>
    </nav>
  </div>
</div>

<div class="page row mx-3 mx-md-0">
  <div class="col-md-10 offset-md-1 px-0 surlignable">
    <h2 class="#EDIT{titre} entry-title">#TITRE</h2>
    
    <div class="row px-0 px-md-4">
      <div class="col surlignable">
        [<div class="#EDIT{texte} texte entry-content">(#TEXTE|image_reduire{300,300})</div>]
      </div>
    </div>
    
    <div class="row px-0 align-items-center">
      [(#ENV{groupe}|=={""}|oui) #SET{ groupe, statut_auteur}]
      [(#ENV{groupe}|!={""}|oui) #SET{ groupe, #ENV{groupe}}]
      <div class="col-md-8">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a href="#URL_RUBRIQUE?groupe=statut_auteur" class="nav-link [(#GET{groupe}|=={"statut_auteur"}) active]">Afficher par statut</a>
            </li>
            <li class="nav-item">
                <a href="#URL_RUBRIQUE?groupe=equipe" class="nav-link [(#GET{groupe}|=={"equipe"}) active]">Afficher par équipe</a>
              </li>
              <li class="nav-item">
                  <a href="#URL_RUBRIQUE?groupe=localisation_auteur" class="nav-link [(#GET{groupe}|=={"localisation_auteur"}) active]">Afficher par site</a>
              </li>
              <li class="nav-item">
                <a href="#URL_RUBRIQUE?groupe=tout" class="nav-link [(#GET{groupe}|=={"tout"}) active]">Afficher tout le monde</a>
            </li>
          </ul>
      </div>
      <div class="col-md-4 mt-3 mt-md-0 text-md-right">
        <input id="search-list" class="search" placeholder="Filtrer par nom" />&nbsp;<i class="bi-search" aria-hidden="true"></i>
      </div>
    </div>
    
    [(#ENV{tab}|=={""}|oui) #SET{ tab, "1"}]
    [(#ENV{tab}|!={""}|oui) #SET{ tab, #ENV{tab}}]

    <div class="row pas_surlignable">
      <div class="col">
        <BOUCLE_test-tous(CONDITION){si #GET{groupe}|!={tout}}>
        <nav>
          <ul class="nav nav-tabs tabs-annuaire" id="tabs-annuaire" role="tablist">
            <BOUCLE_auteur1(AUTEURS){id_auteur=1}>
            [(#GET{groupe}|=={statut_auteur}|oui) #SET{valeurs, #LISTER_CHOIX**{statut_auteur}}]
            [(#GET{groupe}|=={localisation_auteur}|oui) #SET{valeurs, #LISTER_CHOIX**{localisation_auteur}}]
            [(#GET{groupe}|=={equipe}|oui) #SET{valeurs, #LISTER_CHOIX**{equipe}}]
            </BOUCLE_auteur1>                      
            <BOUCLE_liste(DATA){source table,#GET{valeurs}}>
            <li class="nav-item">
              <a class="nav-link [(#COMPTEUR_BOUCLE|=={#GET{tab}}|oui) active]" id="tab#COMPTEUR_BOUCLE" data-toggle="tab" href="#content#COMPTEUR_BOUCLE" role="tab"  aria-selected="[(#COMPTEUR_BOUCLE|=={1}|?{'true', 'false'})]">[(#VALEUR|supprimer_numero|replace{'\|',','})] <span></span></a>
            </li>
            </BOUCLE_liste>
          </ul>
        </nav>
        </BOUCLE_test-tous>
        </B_test-tous>
        [(#SET{valeurs, #ARRAY{0, 'tous'}})]
        <//B_test-tous>

    <div class="tab-content" id="tabscontent-annuaire">
 
      <BOUCLE_tab_content(DATA){source table,#GET{valeurs}}>
      <div class="tab-pane fade listjs membres[(#COMPTEUR_BOUCLE|=={#GET{tab}}|oui) active show]" id="content#COMPTEUR_BOUCLE" role="tabpanel" aria-labelledby="tab#COMPTEUR_BOUCLE">  
        <ul class="list list-annuaire d-flex flex-wrap">
            <BOUCLE_test-tous2(CONDITION){si #GET{groupe}|!={tout}}>
              <BOUCLE_membres_tab(AUTEURS){par lenom, leprenom}{where #GET{groupe} = #CLE}{id_auteur != 1}{tout}>
                <li class="membre">
                  <a href="#URL_AUTEUR">
                    [(#LOGO_AUTEUR|image_reduire{80,100}|image_recadre{80,100,'center center','transparent'}|sinon{<img src="[(#CHEMIN{img/user_icon.png})]">})]
                  </a>
                  <p class="nom-membre searchtext"><a href="#URL_AUTEUR"><span class="prenom">#LEPRENOM</span> <span class="nom">#LENOM</span></a></p>
                  [<p class="statut">(#LISTER_VALEURS{statut_auteur}|supprimer_numero|replace{'\|',','})</p>]
                  [<p class="equipe"><a href="#URL_RUBRIQUE{#LISTER_VALEURS{equipe}|num_rubrique_equipe}">(#LISTER_VALEURS{equipe}|!={7. Accompagnement de la recherche}|?{ #LISTER_VALEURS{equipe},''}|supprimer_numero|replace{'\|',','})</a></p>]
                </li>
              </BOUCLE_membres_tab>
            </BOUCLE_test-tous2>
            </B_test-tous2>
              <BOUCLE_membres_tab_tous(AUTEURS){par lenom, leprenom}{id_auteur != 1}{tout}>
                <li class="membre">
                  <a href="#URL_AUTEUR">
                    [(#LOGO_AUTEUR|image_reduire{80,100}|image_recadre{80,100,'center center','transparent'}|sinon{<img src="[(#CHEMIN{img/user_icon.png})]">})]
                  </a>
                  <p class="nom-membre searchtext"><a href="#URL_AUTEUR"><span class="prenom">#LEPRENOM</span> <span class="nom">#LENOM</span></a></p>
                  [<p class="statut">(#LISTER_VALEURS{statut_auteur}|supprimer_numero|replace{'\|',','})</p>]
                  [<p class="equipe"><a href="#URL_RUBRIQUE{#LISTER_VALEURS{equipe}|num_rubrique_equipe}">(#LISTER_VALEURS{equipe}|!={7. Accompagnement de la recherche}|?{ #LISTER_VALEURS{equipe}, ''}|supprimer_numero|replace{'\|',','})</a></p>]
                </li>
              </BOUCLE_membres_tab_tous>
            <//B_test-tous2>
        </ul>
        <p class="list-nothing">Aucun membre de cette catégorie ne correspond à cette recherche.</li>
      </div>
      </BOUCLE_tab_content>
    </div>    
  </div>
</div>
</div>



</div>


</div>
<!-- container -->

<INCLURE{fond=inc/footer} />
</BOUCLE_principale>
