[(#REM) Rubrique publications]
<BOUCLE_principale(RUBRIQUES) {id_rubrique}{tout}>

<INCLURE{fond=inc/header_start} />

<title>[(#TITRE|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
[
<meta name="description" content="(#INTRODUCTION{150}|attribut_html)" />]
<INCLURE{fond=inc/header_end}{id_rubrique} />

<!-- Bandeau -->
<BOUCLE_secteur-bandeau(RUBRIQUES){id_rubrique=#ID_SECTEUR}{tout}>
   #SET{'url_bandeau', #LOGO_RUBRIQUE**}
</BOUCLE_secteur-bandeau>
<div class="container px-0">
  <div class="row bandeau no-gutters d-flex" [style="background-image: url('#URL_SITE_SPIP/IMG/(#GET{url_bandeau})');"]>
  </div>
</div>

<div class="container p-0">
  
  <!-- breadcrumb -->
  <div class="row mx-3 mx-md-0">
    <div class="col-md-10 offset-md-1 px-0">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="[(#URL_SITE_SPIP)]">Accueil</a>
          </li>
          <BOUCLE_chemin(HIERARCHIE){id_rubrique}>
          <i class="bi-caret-right-fill" aria-hidden="true"></i>
          <li class="breadcrumb-item">
            <a href="[(#URL_RUBRIQUE)]">[(#TITRE)]</a>
          </li>
        </BOUCLE_chemin>
        <i class="bi-caret-right-fill" aria-hidden="true"></i>
        <li class="breadcrumb-item active" aria-current="page">#TITRE</li>
      </ol>
    </nav>
  </div>
</div>

<div class="page publications row mx-3 mx-md-0">
  <div class="col-md-10 offset-md-1 px-0 surlignable">
    <h2 class="#EDIT{titre} entry-title">#TITRE</h2>
    
    <div class="row px-0 px-md-4">
      <div class="col surlignable">
        [<div class="#EDIT{texte} texte entry-content">(#TEXTE|image_reduire{300,300})</div>]
      </div>
    </div>

    <h3>Dernières publications</h3>
     <div class="publications-liste row">
          <BOUCLE_publication(PUBLIS){par date}{inverse}{0,4}>
            <div class="col-xl-3 col-sm-6 col-12 mb-5 mb-lg-0">
              <div class="vignette">
              <a href="#URL_PUBLI">
                <BOUCLE_test_logo(CONDITION){si #LOGO_PUBLI}>
                  <img src="[(#CHEMIN{IMG/#LOGO_PUBLI**})]" class="d-block mx-auto">
                </BOUCLE_test_logo>
                </B_test_logo>
                <img src="#CHEMIN{img/publi-icon-big.jpg}" class="d-block mx-auto">
                <//B_test_logo>
              </a>
              </div>
              <h5>
                <a href="#URL_PUBLI">#TITRE</a>
              </h5>
              [<div class="auteur">(#AUTEUR)</div>]
              #INTRODUCTION{150}
              <p class="more">
                <a href="#URL_PUBLI">En savoir
                  <i class="bi-plus-circle-fill" aria-hidden="true"></i>
                </a>
              </p>
            </div>
            </BOUCLE_publication>
        </div>
    
    [(#ENV{id}|=={""}|oui) #SET{ id, 'Tous'}]
    [(#ENV{id}|!={""}|oui) #SET{ id, #ENV{id}}]
    [(#ENV{groupe}|=={""}|oui) #SET{ groupe, 'type'}]
    [(#ENV{groupe}|!={""}|oui) #SET{ groupe, #ENV{groupe}}]

    <h3 id="archives">Archives des publications</h3>
    <div class="row px-0 align-items-center pas_surlignable">
      <div class="col">
        <nav>
          <ul class="nav nav-pills">
            <!--
            <li class="nav-item">
              <a href="[(#URL_RUBRIQUE|parametre_url{'groupe', 'type'})#archives]" class="nav-link [(#GET{groupe}|=={'type'}) active]">Afficher par type de publication</a>
            </li>
            <li class="nav-item">
                <a href="[(#URL_RUBRIQUE|parametre_url{'groupe', 'equipe'})#archives]" class="nav-link [(#GET{groupe}|=={'equipe'}) active]">Afficher par équipe</a>
              </li>
            -->
          </ul>
        </nav>
      </div>
      <div class="col-12 col-md-6 col-xl-4 mt-3 mt-md-0 text-md-right">
            <form class="form-search" action="spip.php?page=recherche" method="GET">
              <input name="page" value="recherche" type="hidden">
              <input name="type" value="publis" type="hidden">
              <input class="search" aria-label="Rechercher des publications" name="recherche" placeholder="Rechercher des publications" />
              <button class="btn btn-light border-0" type="submit">
                  <i class="bi-search" role="img" aria-label="Rechercher"></i>
              </button>
            </form>
      </div>
    </div>
    <div class="row pas_surlignable">
      <div class="col">
      #SET{types,
        #ARRAY{
          Tous, Tous,
          ouvrage, Ouvrages,
          chapitre, Chapitres d'ouvrage,
          article, Articles,
          rapport, Rapports,
          recension, Recensions,
          audiovisuel, Audiovisuel,
          autre, Autre
        }}
        <nav>
          <ul class="nav nav-tabs tabs-annuaire" id="tabs-annuaire" role="tablist">
          <BOUCLE_tabs(DATA){source table,#GET{types}}>
            <li class="nav-item">
              <a class="nav-link [(#CLE|=={#GET{id}}|oui) active]" href="[(#URL_RUBRIQUE|parametre_url{'groupe', #GET{'groupe'}}|parametre_url{'id', #CLE})#archives]" role="tab"  aria-selected="[(#CLE|=={#GET{id}}|?{'true', 'false'})]">#VALEUR <span></span></a>
            </li>
          </BOUCLE_tabs>
          </ul>
        </nav>

      #SET{liste_publis,#ARRAY}
      <BOUCLE_test_tous(CONDITION){si #GET{id}|=={'Tous'}}>
        <BOUCLE_liste_publis_tous(PUBLIS)>
          #SET{liste_publis,#GET{liste_publis}|push{ #ID_PUBLI}}
        </BOUCLE_liste_publis_tous>
      </BOUCLE_test_tous>        
      </B_test_tous>
      <BOUCLE_liste_publis(PUBLIS){typepubli in #GET{id}}>
          #SET{liste_publis,#GET{liste_publis}|push{ #ID_PUBLI}}
      </BOUCLE_liste_publis>
      <//B_test_tous>
     
      <div class="listjs publis">
          <INCLURE{fond=inc/publis, ajax, env, liste_publis=#GET{liste_publis}} />
      </div>

    </div>    
  </div>
</div>
</div>
</div>
</div>
<!-- container -->

<INCLURE{fond=inc/footer} />
</BOUCLE_principale>