[(#REM) Rubrique événements]
<BOUCLE_principale(RUBRIQUES) {id_rubrique}{tout}>

<INCLURE{fond=inc/header_start} />

<title>[(#TITRE|textebrut) - ][(#NOM_SITE_SPIP|textebrut)]</title>
[
<meta name="description" content="(#INTRODUCTION{150}|attribut_html)" />]
<INCLURE{fond=inc/header_end}{id_rubrique} />

<!-- Bandeau -->
<BOUCLE_secteur-bandeau(RUBRIQUES){id_rubrique=#ID_SECTEUR}{tout}>
    #SET{'url_bandeau', #LOGO_RUBRIQUE**}
 </BOUCLE_secteur-bandeau>
<div class="container px-0">
  <div class="row bandeau no-gutters d-flex" [style="background-image: url('#URL_SITE_SPIP/IMG/(#GET{url_bandeau})');"]>
  </div>
</div>

<div class="container p-0">
  
  <!-- breadcrumb -->
  <div class="row mx-3 mx-md-0">
    <div class="col-md-10 offset-md-1 px-0">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="[(#URL_SITE_SPIP)]">Accueil</a>
          </li>
          <BOUCLE_chemin(HIERARCHIE){id_rubrique}>
          <i class="bi-caret-right-fill" aria-hidden="true"></i>
          <li class="breadcrumb-item">
            <a href="[(#URL_RUBRIQUE)]">[(#TITRE)]</a>
          </li>
        </BOUCLE_chemin>
        <i class="bi-caret-right-fill" aria-hidden="true"></i>
        <li class="breadcrumb-item active" aria-current="page">#TITRE</li>
      </ol>
    </nav>
  </div>
</div>

<div class="page row mx-3 mx-md-0">
  <div class="col-md-10 offset-md-1 px-0 surlignable">
    <h2 class="#EDIT{titre} entry-title">#TITRE</h2>
    
    <div class="row px-0 px-md-4">
      <div class="col surlignable">
        [<div class="#EDIT{texte} texte entry-content">(#TEXTE|image_reduire{300,300})</div>]
      </div>
    </div>

    [(#ENV{temps}|=={""}|oui) #SET{ temps, futur}]
    [(#ENV{temps}|!={""}|oui) #SET{ temps, #ENV{temps}}]
    [(#ENV{type}|=={""}|oui) #SET{ type, 'Tous'}]
    [(#ENV{type}|!={""}|oui) #SET{ type, #ENV{type}}]

    <div class="row px-0 align-items-center">
        <div class="col">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a href="[(#URL_RUBRIQUE|parametre_url{'temps', 'futur'}|parametre_url{'type', #GET{'type'}})]" class="nav-link [(#GET{temps}|=={"futur"}) active]">Événements à venir</a>
              </li>
              <li class="nav-item">
                  <a href="[(#URL_RUBRIQUE|parametre_url{'temps', 'passe'}|parametre_url{'type', #GET{'type'}})]" class="nav-link [(#GET{temps}|=={"passe"}) active]">Événements passés</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-md-6 col-xl-4 mt-3 mt-md-0 text-md-right">
            <form class="form-search" action="spip.php?page=recherche" method="GET">
                <input name="page" value="recherche" type="hidden">
                <input name="type" value="evenements" type="hidden">
                <input class="search" aria-label="Rechercher des événements" name="recherche" placeholder="Rechercher des événements" />
                <button class="btn btn-light border-0" type="submit">
                  <i class="bi-search" role="img" aria-label="Rechercher"></i>
                </button>
              </form>
        </div>
      </div>

    <div class="row pas_surlignable">
      <div class="col">
          #SET{types, #ARRAY{'Tous', 'Tous'}}
          <BOUCLE_types(MOTS){id_groupe=5}{par num titre}>
            #SET{types, #GET{types}|array_merge{ #ARRAY{ #TITRE, #ID_MOT}}}
          </BOUCLE_types>
        <nav>
          <ul class="nav nav-tabs tabs-annuaire" id="tabs-annuaire" role="tablist">
          <BOUCLE_tabs(DATA){source table,#GET{types}}>
            <li class="nav-item">
              <a class="nav-link [(#VALEUR|=={#GET{type}}|oui) active]" href="[(#URL_RUBRIQUE|parametre_url{'type', #VALEUR}|parametre_url{'temps', #GET{'temps'}})]" role="tab"  aria-selected="[(#CLE|=={#GET{type}}|?{'true', 'false'})]">[(#CLE)] <span></span></a>
            </li>
          </BOUCLE_tabs>
          </ul>
        </nav>

      [(#REM) Lister les articles correspondant au type d'actu]
      #SET{liste_articles,#ARRAY}

      [(#REM) Si type=Tous, on récupère tous les articles du site]

      <BOUCLE_test_tous(CONDITION){si #GET{type}|=={'Tous'}}>
        <BOUCLE_liste_articles_tous(ARTICLES)>
          #SET{liste_articles,#GET{liste_articles}|push{ #ID_ARTICLE}}
        </BOUCLE_liste_articles_tous>
      </BOUCLE_test_tous>        
      </B_test_tous>

        [(#REM) Si type=Séminaire, on récupère les articles des rubriques actus séminaires et du mot-clé séminaire]

        <BOUCLE_test_seminaire(CONDITION){si #GET{type}|=={'28'}}>
          #SET{rubriques_actus_seminaires, #ARRAY}
          <BOUCLE_rubriques-actu(RUBRIQUES){id_mot=31}>
            #SET{rubriques_actus_seminaires, #GET{rubriques_actus_seminaires}|push{#ID_RUBRIQUE}}
          </BOUCLE_rubriques-actu>
          <BOUCLE_liste_articles_seminaires(ARTICLES){id_rubrique in #GET{rubriques_actus_seminaires}}>
            #SET{liste_articles,#GET{liste_articles}|push{ #ID_ARTICLE}}
          </BOUCLE_liste_articles_seminaires>
          <BOUCLE_liste_articles_seminaires_mot(ARTICLES){id_mot in #GET{type}}>
            #SET{liste_articles,#GET{liste_articles}|push{ #ID_ARTICLE}}
          </BOUCLE_liste_articles_seminaires_mot>

        </BOUCLE_test_seminaire>  

          [(#REM) Si type=Formation, on récupère les articles des rubriques actus formation et du mot-clé formation]

          <BOUCLE_test_formation(CONDITION){si #GET{type}|=={'29'}}>
            #SET{rubriques_actus_formations, #ARRAY}
            <BOUCLE_rubriques-actu-formations(RUBRIQUES){id_mot=32}>
              #SET{rubriques_actus_formations, #GET{rubriques_actus_formations}|push{#ID_RUBRIQUE}}
            </BOUCLE_rubriques-actu-formations>
            <BOUCLE_liste_articles_formations(ARTICLES){id_rubrique in #GET{rubriques_actus_formations}}>
              #SET{liste_articles,#GET{liste_articles}|push{ #ID_ARTICLE}}
            </BOUCLE_liste_articles_formations>
            <BOUCLE_liste_articles_formations_mot(ARTICLES){id_mot in #GET{type}}>
              #SET{liste_articles,#GET{liste_articles}|push{ #ID_ARTICLE}}
            </BOUCLE_liste_articles_formations_mot>

          </BOUCLE_test_formation>  


          [(#REM) Sinon, on récupère les articles par mot-clé type d'actu]

          <BOUCLE_liste_articles(ARTICLES){id_mot in #GET{type}}>
            #SET{liste_articles,#GET{liste_articles}|push{ #ID_ARTICLE}}
          </BOUCLE_liste_articles>
          <//B_test_formation>
        <//B_test_seminaire>
      <//B_test_tous>

      [(#REM) À partir de la liste d'articles, on génère une liste d'événements, dans le futur ou le passé]
      #SET{liste_ev,#ARRAY}
      <BOUCLE_liste_articles_ev(ARTICLES){id_article in #GET{liste_articles}}>
        <BOUCLE_test_futur(CONDITION){si #GET{temps}|=={futur}}>
          <BOUCLE_liste_evts_futur(EVENEMENTS){id_article}{evenement_a_venir}{par date}>
             #SET{liste_ev,#GET{liste_ev}|push{ #ID_EVENEMENT}}
          </BOUCLE_liste_evts_futur>
        </BOUCLE_test_futur>
        <BOUCLE_test_passe(CONDITION){si #GET{temps}|=={passe}}>
          <BOUCLE_liste_evts_passe(EVENEMENTS){id_article}{evenement_passe}{par date}{annee>=2015}>
             #SET{liste_ev,#GET{liste_ev}|push{ #ID_EVENEMENT}}
          </BOUCLE_liste_evts_passe>
        </BOUCLE_test_passe>
      </BOUCLE_liste_articles_ev>
      
      <div class="listjs evenements">
          <BOUCLE_test_futur2(CONDITION){si #GET{temps}|=={futur}}>
            <INCLURE{fond=inc/evenements_futur, ajax, env, liste_ev=#GET{liste_ev}} />
          </BOUCLE_test_futur2>
          </B_test_futur2>
          <INCLURE{fond=inc/evenements_passe, ajax, env, liste_ev=#GET{liste_ev}} />
          <//B_test_futur2>
      </div>

    </div>    
  </div>
</div>
</div>
</div>
</div>
<!-- container -->

<INCLURE{fond=inc/footer} />
</BOUCLE_principale>