[(#REM) Un cache plus court, pour la boucle syndic_articles ]#CACHE{3600}

<INCLURE{fond=inc/header_start} />

<title>[(#NOM_SITE_SPIP|textebrut)]</title>
[
<meta name="description" content="(#DESCRIPTIF_SITE_SPIP|couper{150}|textebrut)" />]

<INCLURE{fond=inc/header_end} />

<div class="sommaire container px-0">
    <div class="row bandeau no-gutters d-flex">
    </div>
</div>


<div class="sommaire container p-0">
  <div class="row m-0">
    <!-- Bloc présentation du labo -->
    <div class="col-md-7 cartouche-labo">
      <h1>Centre Max Weber</h1>
      <p class="sub">UMR 5283</p>
      <p>Laboratoire de sociologie généraliste, le Centre Max Weber regroupe un grand nombre de sociologues du site de Lyon-Saint-Étienne. Situé sur quatre sites géographiques, il est rattaché institutionnellement à quatre tutelles : le CNRS, l’École Normale Supérieure de Lyon, l’Université Jean Monnet Saint-Étienne et l’Université Lumière Lyon 2. Il est membre de la Maison des Sciences de l’Homme Lyon Saint-Étienne.</p>
      <p class="more">
        <a href="#URL_RUBRIQUE{1}">En savoir
          <i class="bi-plus-circle-fill" aria-hidden="true"></i>
        </a>
      </p>
    </div>
  </div>

  <div class="row no-gutters px-3 px-md-0">
    
    <!-- Carousel -->
    #SET{rubriques_actus, #ARRAY{0, 50}}
    <BOUCLE_rubriques-actu(RUBRIQUES){id_mot IN 31,32}{tout}>
       #SET{rubriques_actus, #GET{rubriques_actus}|push{#ID_RUBRIQUE}}
    </BOUCLE_rubriques-actu>
    <div class="col-md-6 offset-md-1">
        <div id="carousel-une" class="carousel slide" data-ride="carousel">
          <h2>Zoom sur…</h2>
          <div class="carousel-inner">
            <BOUCLE_actus-une(ARTICLES) {id_rubrique IN #GET{rubriques_actus}}{logo}{par date}{inverse}{0,3}>
              <div class="carousel-item [(#COMPTEUR_BOUCLE|=={1}|?{'active',''})]">
                <img src="#CHEMIN{IMG/#LOGO_ARTICLE**}" class="d-block mx-auto">
                <div class="carousel-caption d-block">
                  <h5>#TITRE</h5>
                  <p class="more">
                    <a href="#URL_ARTICLE">En savoir
                      <i class="bi-plus-circle-fill" aria-hidden="true"></i>
                    </a>
                  </p>
                </div>
              </div>
              </BOUCLE_actus-une>
              <a class="carousel-control-prev" href="#carousel-une" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel-une" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
          </div>
        </div>
    </div>

    <!-- Événements -->
    <div class="col-md-5 col-lg-4 pr-md-3">
      <div class="agenda-une">
        <h2>L'agenda des événements</h2>
          <B_agenda-une>
          <BOUCLE_agenda-une(EVENEMENTS){par date}{0,5}{evenement_a_venir}>
            <div class="agenda-item">
              <h5>
                <a href="<BOUCLE_article-agenda(ARTICLES){id_article}>#URL_ARTICLE</BOUCLE_article-agenda>">
                  #TITRE
                </a>
              </h5>
              <span class="date">
                <i class="bi-calendar-event" aria-hidden="true"></i> [(#DATE_DEBUT|affdate)]</span>
            </div>
            </BOUCLE_agenda-une>
            <p class="all">
              <a href="#URL_RUBRIQUE{50}">Tous les événements
                <i class="bi-plus-circle-fill" aria-hidden="true"></i>
              </a>
            </p>
          </B_agenda-une>
          <div class="agenda-item">
            <p>Pas d'événement prévu actuellement&nbsp;!</p>
          </div>
          <//B_agenda-une>
        </div>
    </div>
  </div>

  <!-- Publications -->
  <div class="publications row no-gutters mx-3 mx-md-0 mt-4">
    <div class="col-md-10 offset-md-1">
      <h2>Publications</h2>
      <div class="publications-liste row">
        <BOUCLE_publication(PUBLIS){par date}{inverse}{0,4}>
          <div class="col-xl-3 col-sm-6 col-12 mb-5 mb-lg-0">
            <div class="vignette">
            <a href="#URL_PUBLI">
                <BOUCLE_test_logo(CONDITION){si #LOGO_PUBLI}>
                    <img src="[(#CHEMIN{IMG/#LOGO_PUBLI**}|sinon{#CHEMIN{IMG/#LOGO_PUBLI**}})]" class="d-block mx-auto">
                  </BOUCLE_test_logo>
                  </B_test_logo>
                  <img src="#CHEMIN{img/publi-icon-big.jpg}" class="d-block mx-auto">
                  <//B_test_logo>
            </a>
            </div>
            <h5>
              <a href="#URL_PUBLI">#TITRE</a>
            </h5>
            [<div class="auteur">(#AUTEUR)</div>]
            #INTRODUCTION{150}
            <p class="more">
              <a href="#URL_PUBLI">En savoir
                <i class="bi-plus-circle" aria-hidden="true"></i>
              </a>
            </p>
          </div>
          </BOUCLE_publication>
          <p class="all">
            <a href="#URL_RUBRIQUE{5}">Toutes les publications
              <i class="bi-plus-circle-fill" aria-hidden="true"></i>
            </a>
          </p>
      </div>
    </div>
  </div>

  <!-- Annonces -->

  <B_test-vielabo>
    <!-- Si actus vie du labo, largeur 4 -->
    #SET{largeur_annonce, 4}
    <BOUCLE_test-vielabo(ARTICLES){id_mot=22}{par date}{inverse}{0,3}{age < 180}>
    </BOUCLE_test-vielabo>
    <!-- Sinon, largeur 3 -->
    #SET{largeur_annonce, 3}
    <//B_test-vielabo>

      <div class="annonces row no-gutters mx-3 mx-md-0">
        <div class="col-md-10 offset-md-1">
          <h2 id="annonces" name="annonces">Annonces</h2>
          <div class="annonces-liste row">
          <div class="col-lg-[(#GET{largeur_annonce})] col-sm-6 col-12 mb-5">
              <h4>Vie scientifique de nos réseaux et partenaires</h4>
              <BOUCLE_annonces-vie(BREVES){id_mot=33}{par date}{inverse}{0,4}{ "<hr>"}>
                <INCLURE{fond=inc/annonce, id_breve} />
              </BOUCLE_annonces-vie>
            </div>
            <div class="col-lg-[(#GET{largeur_annonce})] col-sm-6 col-12 mb-5">
              <h4>Appels à contribution
                <br>et candidatures</h4>
              <BOUCLE_annonces-appel(BREVES){id_mot=24}{par date}{inverse}{0,4}{ "<hr>"}>
                <INCLURE{fond=inc/annonce, id_breve} />
              </BOUCLE_annonces-appel>
            </div>
            <div class="col-lg-[(#GET{largeur_annonce})] col-sm-6 col-12 mb-5">
              <h4>Financement
                <br>de la recherche</h4>
              <BOUCLE_annonces-finance(BREVES){id_mot=25}{par date}{inverse}{0,4}{ "<hr>"}>
                  <INCLURE{fond=inc/annonce, id_breve} />
              </BOUCLE_annonces-finance>
            </div>
            <div class="col-lg-[(#GET{largeur_annonce})] col-sm-6 col-12 mb-5">
              <h4>Accompagnement
                <br>et formation</h4>
              <BOUCLE_annonces-accomp(BREVES){id_mot=23}{par date}{inverse}{0,4}{ "<hr>"}>
                  <INCLURE{fond=inc/annonce, id_breve} />
              </BOUCLE_annonces-accomp>
            </div>
            <B_annonces-vielabo>
              <div class="col-lg-[(#GET{largeur_annonce})] col-sm-6 col-12 mb-5">
                <h4>Vie du labo</h4>
                <BOUCLE_annonces-vielabo(ARTICLES){id_mot=22}{par date}{inverse}{0,4}{ "<hr>"}{age < 180}>
                  <h5><a href="#URL_ARTICLE">#TITRE</a></h5>
                  #INTRODUCTION{100}
                  <p class="more">
                    <a href="#URL_ARTICLE">En savoir
                      <i class="bi-plus-circle" aria-hidden="true"></i>
                    </a>
                  </p>
                  </BOUCLE_annonces-vielabo>
              </div>
            </B_annonces-vielabo>
          </div>


        </div>
      </div>

      <!-- row -->
</div>
<!-- container -->

<INCLURE{fond=inc/footer} />