      
     <BOUCLE_annonce(BREVES){id_breve}>
      <h5><a href="#" data-toggle="modal" data-target=".breve-modal-[(#ID_BREVE)]">#TITRE</a></h5>
      #INTRODUCTION{100}
      <p class="more">
        <button type="button" class="btn btn-link" data-toggle="modal" data-target=".breve-modal-[(#ID_BREVE)]">
          En savoir <i class="bi-plus-circle" aria-hidden="true"></i>
        </button>
      </p>
      <!-- Modal -->
      <div class="modal fade breve-modal-[(#ID_BREVE)]" tabindex="-1" role="dialog" aria-labelledby="ModalLabel[(#ID_BREVE)]" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel[(#ID_BREVE)]">#TITRE</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body page">
            [(#LOGO_BREVE|image_reduire{250,250})]
            
             [(#TEXTE|image_reduire{250,250})]
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
              <a role="button" class="btn btn-dark" href="#URL_BREVE">Voir sur le site</a>
            </div>
          </div>
        </div>
      </div>
    </BOUCLE_annonce>
