<B_evts>
[(#ANCRE_PAGINATION)]
<table>
    <thead>
      <tr><th class="td-logo"></th><th>Événement</th><th>Date</th><th>Lieu</th></tr>
    </thead>
    <tbody class="list list-evenements">
      <BOUCLE_evts(EVENEMENTS){id_evenement in #ENV{liste_ev}}{par date}{pagination 10}>
        <tr class="evenement [(#COMPTEUR_BOUCLE|alterner{'odd','even'})]">
          <td class="td-logo"><a href="#URL_ARTICLE">
          <BOUCLE_test_ev(CONDITION){si #ID_RUBRIQUE|=={'50'}}>
            [(#LOGO_ARTICLE|image_reduire{70,60}|image_recadre{70,60,'center center','#f0f0f0'}|sinon{<img src="[(#CHEMIN{img/evenement-icon.jpg})]">})]
          </BOUCLE_test_ev>
          [(#LOGO_ARTICLE|image_reduire{70,60}|image_recadre{70,60,'center center','#f0f0f0'}|sinon{#LOGO_RUBRIQUE|image_reduire{60,60}})]
          <//B_test_ev>
          </a></td>
          <td><a href="#URL_ARTICLE"><span class="searchtext">#TITRE</span></a></td>
          <td>[(#DATE_DEBUT|affdate_jourcourt)][ - (#DATE_FIN|affdate_jourcourt|!={ #DATE_DEBUT|affdate_jourcourt}|oui) [(#DATE_FIN|affdate_jourcourt)]]</td>
          <td>#LIEU</td>
        </tr>
      </BOUCLE_evts>
      [<tr><td colspan="4"><nav class="pagination" role="pagination">(#PAGINATION)</nav></td></tr>]
    </tbody>
</table>
</B_evts>
<p>Pas d'événements.</p>
<//B_evts>