    
    <!-- footer -->
    <div class="footer container px-0">
        <div class="row plans no-gutters px-3 px-md-0">
            <div class="col-md-10 offset-md-1">
                <div class="row">
                    <div class="col-lg-3 col-sm-6 col-12 d-flex flex-column">
                        <h4>Site Lyon Berthelot</h4>
                        <p>
                            <strong>Maison des Sciences de l'Homme
                                <br>Lyon St-Étienne</strong>
                            <br> 14 avenue Berthelot
                            <br> 69363 Lyon cedex 07
                            <br>
                            <strong>Contact&nbsp;:</strong>
                            <br> Aude Chapelon : (33) 4 72 72 64 19
                        </p>
                        <p class="location mt-auto">
                            <i class="bi-geo-alt-fill" aria-hidden="true"></i>
                            <a class="location mt-auto" href="https://www.msh-lse.fr/contact-et-infos/">
                            Nous trouver</a>
                        </p>
                        <div id="map-msh" class="leaflet-map"></div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 d-flex flex-column">
                        <h4>Site Bron
                            <br>Campus Porte des Alpes</h4>
                        <p>
                            <strong>Université Lumière Lyon 2</strong>
                            <br> 5, avenue Pierre Mendès-France
                            <br> Bât. H
                            <br> F-69696 Bron cedex
                            <br>
                            <strong>Contact&nbsp;:</strong>
                            <br> Kamel Guerchouche : (33) 4 78 77 23 97
                        </p>
                        <p class="location mt-auto">
                            <i class="bi-geo-alt-fill" aria-hidden="true"></i>                            
                            <a href="https://www.univ-lyon2.fr/plan-d-acces">
                            Nous trouver</a>
                        </p>
                        <div id="map-bron" class="leaflet-map"></div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 d-flex flex-column">
                        <h4>Site Lyon ENS</h4>
                        <p>
                            <strong>ENS de Lyon</strong>
                            <br>15 parvis René Descartes
                            <br> BP 7000
                            <br> 69342 Lyon Cedex 07
                            <br>
                            <strong>Contact :</strong>
                            <br> Férouze Guitoun : (33) 4 37 37 62 75
                        </p>
                        <p class="location mt-auto">
                            <i class="bi-geo-alt-fill" aria-hidden="true"></i>
                            <a  href="http://www.ens-lyon.fr/campus/en-pratique/se-rendre-lens">
                            Nous trouver</a>
                        </p>
                        <div id="map-ens" class="leaflet-map"></div>
                    </div>
                    <div class="col-lg-3 col-sm-6 col-12 d-flex flex-column">
                        <h4>Site Saint-Étienne</h4>
                        <p>
                            <strong>Université Jean Monnet- Site tréfilerie</strong>
                            <br> 6 rue Basse des Rives
                            <br> Bâtiment D - Étage R+1
                            <br> 42023 Saint Étienne
                            <br>
                            <strong>Contact :</strong>
                            <br>Noa Achour : (33) 4 77 42 19 81
                        </p>
                        <p class="location mt-auto">
                            <i class="bi-geo-alt-fill" aria-hidden="true"></i>
                            <a  href="https://www.univ-st-etienne.fr/fr/universite/les-campus.html">
                            Nous trouver</a>
                        </p>
                        <div id="map-sainte" class="leaflet-map"></div>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row tutelles no-gutters px-3 px-md-0">
            <div class="col-12 offset-0 offset-sm-1 col-sm-10 col-lg-6 offset-lg-3 d-flex flex-wrap justify-content-around align-items-center">
                <a href="https://www.cnrs.fr/"><img src="#CHEMIN{img/tutelles/logo_cnrs.png}"></a>
                <a href="https://www.univ-lyon2.fr"><img src="#CHEMIN{img/tutelles/logo_lyon2.png}"></a>
                <a href="https://www.ens-lyon.fr"><img src="#CHEMIN{img/tutelles/logo_ens.png}"></a>
                <a href="https://www.univ-st-etienne.fr/"><img src="#CHEMIN{img/tutelles/logo_jmonnet.png}"></a>
            </div>
        </div>
    
        <div class="row liens no-gutters px-3 px-md-0">
            <div class="mx-auto">
                <a href="spip.php?page=login">Connexion</a> | <a href="#URL_RUBRIQUE{86}">Aide site Web</a> | <a href="#URL_ARTICLE{12}">Mentions légales</a>
            </div>
        </div>
    </div>

    <div id="toTop" class="toTop"><a href="#"><i class="bi-chevron-up" role="img" aria-label="Haut de page"></i></a></div>

    <!-- Optional JavaScript -->
    [<script src="(#CHEMIN{js/list.min.js})"></script>]
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!--
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="			  crossorigin="anonymous"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <!-- Leaflet -->
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
    integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
    crossorigin=""></script>
    [<script src="(#CHEMIN{js/bootstrap.min.js})"></script>]
    [<script src="(#CHEMIN{js/cmw.js})"></script>]
  </body>
</html>