<!-- Bootstrap + CMW CSS -->
[<link rel="stylesheet" href="(#CHEMIN{css/cmw.min.css}|direction_css)" />]
<link rel="icon" href="#CHEMIN{img/favicon-32x32.png}" sizes="32x32" type="image/png">
<link rel="icon" href="#CHEMIN{img/favicon.ico}" type="image/x-icon" /> 
<link rel="alternate" type="application/rss+xml" title="Centre Max Weber - Actualités" href="https://centre-max-weber.fr/spip.php?page=rss"
/> [(#REM) Feuille de style par defaut pour le code genere par SPIP ] [
<!-- <link rel="stylesheet" href="(#CHEMIN{spip_style.css}|direction_css)" /> -->] [(#REM) Feuille de style par defaut pour les formulaires de SPIP ] [
<link rel="stylesheet" href="(#CHEMIN{spip_formulaires.css}|direction_css)" type="text/css" media="projection, screen, tv"
/>] [(#REM) Balise permettant aux plugins d'inserer des CSS ] 
#INSERT_HEAD_CSS
[<link rel="stylesheet" href="(#CHEMIN{css/print.css}|direction_css)" media="print" />]
#INSERT_HEAD
</head>

<body>
  <div class="container px-0">
    <div class="row top-row no-gutters">
      <div class="col-lg-10 offset-lg-1">
        <nav class="utils navbar navbar-dark navbar-expand justify-content-end">
          <form class="form-inline form-search" action="spip.php?page=recherche" method="GET">
            <input name="page" value="recherche" type="hidden">
            <input name="recherche" class="form-control rounded-0" type="search" placeholder="Rechercher" aria-label="Rechercher"
            [value="(#RECHERCHE)"]>
            <button class="btn btn-link border-0" type="submit">
              <i class="bi-search" role="img" aria-label="Rechercher"></i>
            </button>
          </form>
          <div class="separator"></div>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="https://twitter.com/centremaxweber">
                <i class="bi-twitter" role="img" aria-label="Twitter"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.facebook.com/centremaxweber">
                <i class="bi-facebook" role="img" aria-label="Facebook"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://www.youtube.com/channel/UC9AQkd8xLlNYpVIpfbpbIhw">
                <i class="bi-youtube" role="img" aria-label="Youtube"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://centre-max-weber.fr/spip.php?page=rss">
                <i class="bi-rss-fill" role="img" aria-label="RSS"></i>
              </a>
            </li>
            <li class="nav-item lang">
              <a class="nav-link english" href="[(#URL_ARTICLE{519})]">
                English
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-10 offset-lg-1">
        <nav class="menu navbar navbar-expand-lg navbar-light px-lg-0">
          <a class="navbar-brand py-0" href="#URL_SITE_SPIP">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false"
            aria-label="Menu navigation">
            <i class="bi-list" role="img" aria-label="Menu"></i>
          </button>

          <div class="collapse navbar-collapse nav-menu" id="nav-menu">
            <ul class="navbar-nav">

              <BOUCLE_menu_labo(RUBRIQUES){racine}{!id_mot IN 3}{par num titre, titre}{tout}>
                <B_ssmenu_labo>
                  <li class="nav-item dropdown #EXPOSE{active}">
                    <a class="nav-link dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" id="menudrop#COMPTEUR_BOUCLE"
                      href="#URL_RUBRIQUE">#TITRE</a>
                      <div class="arrow-up"></div>
                      <div class="dropdown-menu" aria-labelledby="menudrop#COMPTEUR_BOUCLE">
                      <BOUCLE_ssmenu_labo(RUBRIQUES){id_parent}{!id_mot IN 3}{par num titre, titre}{tout}>
                        <a class="dropdown-item #EXPOSE{active}" href="#URL_RUBRIQUE">#TITRE</a>
                        </BOUCLE_ssmenu_labo>
                    </div>
                  </li>
                </B_ssmenu_labo>
                <li class="nav-item #EXPOSE{active, ''} [(#ID_AUTEUR|et{#ID_RUBRIQUE|=={51}}) active]">
                  <a class="nav-link" href="#URL_RUBRIQUE">#TITRE</a>
                </li>
                <//B_ssmenu_labo>           
                </BOUCLE_menu_labo>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
