<B_publis>
[(#ANCRE_PAGINATION)]
<table>
    <thead>
      <tr><th class="td-logo"></th><th>Titre</th><th>Auteur</th></tr>
    </thead>
    <tbody class="list list-publis">
      <BOUCLE_publis(PUBLIS){id_publi in #ENV{liste_publis}}{par date}{inverse}{pagination 10}>
        <tr class="publi [(#COMPTEUR_BOUCLE|alterner{'odd','even'})]">
          <td class="td-logo"><a href="#URL_PUBLI">
          [(#LOGO_PUBLI|image_reduire{150,}|sinon{<img src="[(#CHEMIN{img/publi-icon.jpg})]">})]
          </a></td>
          <td><a href="#URL_PUBLI"><span class="searchtext">#TITRE</span></a></td>
          <td>#AUTEUR</td>
        </tr>
      </BOUCLE_publis>
      [<tr><td colspan="4"><nav class="pagination" role="pagination">(#PAGINATION)</nav></td></tr>]
    </tbody>
</table>
</B_publis>
<p>Pas de publications.</p>
<//B_publis>