<B_rubriques>
  #ANCRE_PAGINATION
  <h3><:rubriques:> (#GRAND_TOTAL)</h3>
  <div class="resultat-recherche">
  <table>
        <thead>
          <tr><th class="td-logo"></th><th>Titre</th></tr>
        </thead>
        <tbody class="list">
        <BOUCLE_rubriques(RUBRIQUES) {tout}{recherche} {par points}{inverse} {pagination 10} {id_secteur !IN 85,106,112}{id_mot != 3}>
        <tr class="[(#COMPTEUR_BOUCLE|alterner{'odd','even'})]">
              <td class="td-logo">
              [(#LOGO_RUBRIQUE|image_reduire{50,90})]
              </td>
              <td><a href="#URL_RUBRIQUE"><span class="searchtext">#TITRE</span></a></td>
            </tr>
        </BOUCLE_rubriques>
        [<tr><td colspan="4"><nav class="pagination" role="pagination">(#PAGINATION)</nav></td></tr>]
        </tbody>
    </table>
    </div>
</B_rubriques>


