<B_articles>
  #ANCRE_PAGINATION
  <h3><:articles:> (#GRAND_TOTAL)</h3>
  <div class="resultat-recherche">
  <table>
        <thead>
          <tr><th class="td-logo"></th><th>Titre</th><th>Date</th></tr>
        </thead>
        <tbody class="list">
        <BOUCLE_articles(ARTICLES) {recherche} {par points}{inverse}{pagination 10}{id_secteur !IN 5,50,84,131,137}>
         <tr class="[(#COMPTEUR_BOUCLE|alterner{'odd','even'})]">
              <td class="td-logo">
              [(#LOGO_ARTICLE|image_reduire{50,150})]
              </td>
              <td><a href="#URL_ARTICLE"><span class="searchtext">#TITRE</span></a></td><td>[(#DATE|affdate)]</td>
            </tr>
        </BOUCLE_articles>
        [<tr><td colspan="4"><nav class="pagination" role="pagination">(#PAGINATION)</nav></td></tr>]
        </tbody>
    </table>
    </div>
</B_articles>
