<B_membres>
  <h3>Membres (#GRAND_TOTAL)</h3>
  <ul class="list list-annuaire d-flex flex-wrap">
  <BOUCLE_membres(AUTEURS){par lenom, leprenom}{where #VAL{lenom LIKE "%#RECHERCHE%" OR leprenom LIKE "%#RECHERCHE%"}}{tout}>
    <li class="membre">
      <a href="#URL_AUTEUR">
        [(#LOGO_AUTEUR|image_reduire{80,100}|image_recadre{80,100,'center center','transparent'}|sinon{<img src="[(#CHEMIN{img/user_icon.png})]">})]
      </a>
      <p class="nom-membre searchtext"><a href="#URL_AUTEUR"><span class="prenom">#LEPRENOM</span> <span class="nom">#LENOM</span></a></p>
      [<p class="statut">(#LISTER_VALEURS{statut_auteur}|supprimer_numero|replace{'\|',','})</p>]
      [<p class="equipe"><a href="#URL_RUBRIQUE{#LISTER_VALEURS{equipe}|num_rubrique_equipe}">(#LISTER_VALEURS{equipe}|!={7. Accompagnement de la recherche}|?{ #LISTER_VALEURS{equipe},''}|supprimer_numero|replace{'\|',','})</a></p>]
    </li>
  </BOUCLE_membres>
  </ul>
</B_membres>
