<B_archives>
#ANCRE_PAGINATION
<h3>Archives</h3>
<BOUCLE_archives(ARTICLES){id_rubrique=#ENV{id_rub_actus}}{doublons}{par date}{inverse}{pagination 5}>
  <div class="archive-seminaire">
  <h5><a href="#URL_ARTICLE">#TITRE</a></h5>
  <div class="date">
    <i class="bi-calendar-event" aria-hidden="true"></i> [(#DATE|affdate)]
  </div>
  </div>
</BOUCLE_archives>
[<div class="pagination-links"><nav class="pagination" role="navigation">(#PAGINATION)</nav></div>]
</B_archives>